{% extends "base.html" %}
{% load static wagtailimages_tags wagtailcore_tags  ub_wagtailcore_tags  i18n %}

{% block extra_js %}
{% endblock %}

{% block extra_css %}
{% endblock %}

{% block body_class %}l-article-content{% endblock %}

{% block extra_navbar %}{% endblock %}

{% block content %}

    <article class="article fr-accordion js-fr-accordion">

        {% block above_header %}{% endblock %}

        {% block header %}
            <header class="l-article-header article-header animated slideInDown">
                <h1 class="article-header-title">
                    {% if self.seo_title %}
                        {{ self.seo_title }}
                    {% else %}
                        {{ self.title }}
                    {% endif %}
                </h1>
            </header>
        {% endblock %}

        {% block below_header %}{% endblock %}

        {% block featured %}{% endblock %}

        {% block above_article_body %}{% endblock %}

        {% block article_body %}{% endblock %}

        {% block below_article_body %}{% endblock %}

    </article>

    {% block below_article %}{% endblock %}

{% endblock %}
