{% load static wagtailuserbar %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}{% block title_suffix %}{% endblock %}</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <script src="http://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js" type="text/javascript" async=""></script>
        <script type="text/javascript">
        WebFontConfig = {
            google: { families: [ 'Open+Sans:400italic,400,700,300:latin' ] }
        };
        (function() {
            var wf = document.createElement('script');
            wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
            '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
            wf.type = 'text/javascript';
            wf.async = 'true';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(wf, s);
        })(); </script>
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700,300&amp;subset=latin" media="all">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <link rel="icon" type="image/png" href="favicon.png" />

        <link rel="stylesheet" href="{% static 'bower_components/normalize-css/normalize.css' %}" />

        <link rel="stylesheet" href="{% static 'styles/main.css' %}" />

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}

        <div class="l-wrapper">

            <header class="l-header header">
                {% block header %}
                <a href="#" class="ub-logo-link" >
                    <img src="{% static 'images/ub-logo.svg' %}" class="ub-logo" width="41.401px" height="33.63px" />
                </a>
                <a href="#" class="how-to-circles-link" >
                    <img src="{% static 'images/how-to-circles.svg' %}" class="how-to-circles" width="50.457px" height="50.457px" />
                </a>
                <a href="#" class="how-to-link" >
                    <img src="{% static 'images/how-to-eyebrow-blue.svg' %}" class="how-to-link" width="118.123px" height="19.413px" />
                </a>
                <a href="#" class="how-to-link" >
                    <img src="{% static 'images/how-to-eyebrow-black.svg' %}" class="how-to-link" width="118.123px" height="19.413px" />
                </a>
                <a href="#" class="how-to-link" >
                    <img src="{% static 'images/how-to-eyebrow-yellow.svg' %}" class="how-to-link" width="118.123px" height="19.413px" />
                </a>
                <a href="#" class="how-to-link" >
                    <img src="{% static 'images/how-to-eyebrow-green.svg' %}" class="how-to-link" width="118.123px" height="19.413px" />
                </a>
                <a href="#" class="help-link" >
                    <img src="{% static 'images/help-button.svg' %}" class="help-button" width="29.541px" height="29.602px" />
                </a>
                <a href="#" class="search" >
                    <img src="{% static 'images/search-icon.svg' %}" class="search-icon" width="23.334px" height="23.334px" />
                </a>
                <a href="#" class="language m-language" >
                    EN
                </a>
                {% endblock %}
            </header>

            <section class="l-grid">

                {% block sidebarleft %}
                    <aside class="sidebar-left">
                    </aside>
                {% endblock %}

                {% block content %}{% endblock %}

                {% block sidebarright %}
                    <aside class="sidebar-right">
                    </aside>
                {% endblock %}

            </section>

            <footer class="footer"></footer>
        </div>

        <script src="{% static 'bower_components/jquery/dist/jquery.js' %}"></script>
        <script src="{% static 'bower_components/modernizr/modernizr.js' %}"></script>
        <script src="{% static 'bower_components/picturefill/dist/picturefill.js' %}"></script>
        <script src="{% static 'bower_components/flexibility/dist/flexibility.js' %}"></script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}

        <script type="text/javascript" src="{% static 'scripts/main.min.js' %}"></script>
    </body>
</html>
