{% load static wagtailuserbar %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}{% block title_suffix %}{% endblock %}</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <script type="text/javascript">
            WebFontConfig = {
                google: {
                    families: [
                        'Open+Sans:400,700:latin',
                        'Merriweather:300italic,300,700,400:latin'
                    ]
                }
            };

            (function(d) {
              var wf = d.createElement('script'), s = d.scripts[0];
              wf.src = 'https://cdn.jsdelivr.net/webfontloader/1.6.22/webfontloader.js';
              s.parentNode.insertBefore(wf, s);
            })(document);
        </script>

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <link rel="icon" type="image/png" href="favicon.png" />

        <link rel="stylesheet" crossorigin="anonymous" integrity="sha256-z3Zd2vSyiYzTkz83GvboBvga8btMdZo4LGsO+yxzQQg=" href="https://cdn.jsdelivr.net/normalize/3.0.3/normalize.min.css">
{#        <link rel="stylesheet" href="{% static 'bower_components/normalize-css/normalize.css' %}" />#}

        <link rel="stylesheet" href="{% static 'styles/main.css' %}" />

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}

        <div class="l-wrapper">

            <header class="l-header header">
                {% block header %}
                <nav class="main-nav">
                    <div class="ub-logo clearfix">
                        <a href="#"  >
                            <img src="{% static 'images/ub-logo.svg' %}" class="ub-logo-icon" width="41.401px" height="33.63px" />
                        </a>
                    </div>
                    <div class="search-bar">
                        <label class="search-label"  for="searchTextBox" aria="label">
                            <img src="{% static 'images/search-icon.svg' %}" class="search-icon" width="23.334px" height="23.334px" />
                        </label>
                        <input type="text" class="search-textbox" id="searchTextBox" placeholder="">
                    </div>
                    <div class="hamburger-menu">
                        <img src="{% static 'images/hamburger-menu-icon.svg' %}" class="hamburger-menu-icon" width="16.717px" height="14.062px" />
                        <img src="{% static 'images/close-menu-icon.svg' %}" class="close-menu-icon is-hidden" width="17px" height="17px" />
                    </div>
                    <ul class="main-menu">
                        <li class="main-menu-item main-menu-how-to">
                            <a href="#" class="how-to-link" >
                                <img src="{% static 'images/how-to-eyebrow-blue.svg' %}" class="how-to-eyebrow-icon" width="118.123px" height="19.413px" />
                                <img src="{% static 'images/how-to-eyebrow-blue-hover.svg' %}" class="how-to-eye-icon is-hidden" width="22.941px" height="15.687px" />
                                <span class="menu-item-text">Nieuws en agenda</span>
                            </a>
                        </li>
                        <li class="main-menu-item main-menu-how-to">
                            <a href="#" class="how-to-link" >
                                <img src="{% static 'images/how-to-eyebrow-black.svg' %}" class="how-to-eyebrow-icon" width="118.123px" height="19.413px" />
                                <img src="{% static 'images/how-to-eyebrow-black-hover.svg' %}" class="how-to-eye-icon is-hidden" width="22.941px" height="15.687px" />
                                <span class="menu-item-text">Groepen</span>
                            </a>
                        </li>
                        <li class="main-menu-item main-menu-how-to">
                            <a href="#" class="how-to-link" >
                                <img src="{% static 'images/how-to-eyebrow-yellow.svg' %}" class="how-to-eyebrow-icon" width="118.123px" height="19.413px" />
                                <img src="{% static 'images/how-to-eyebrow-yellow-hover.svg' %}" class="how-to-eye-icon is-hidden" width="22.941px" height="15.687px" />
                                <span class="menu-item-text">Verhalen</span>
                            </a>
                        </li>
                        <li class="main-menu-item main-menu-how-to">
                            <a href="#" class="how-to-link" >
                                <img src="{% static 'images/how-to-eyebrow-green.svg' %}" class="how-to-eyebrow-icon" width="118.123px" height="19.413px" />
                                <img src="{% static 'images/how-to-eyebrow-green-hover.svg' %}" class="how-to-eye-icon is-hidden"
                                     width="22.941px" height="15.687px" />
                                <span class="menu-item-text">Ideeën</span>
                            </a>
                        </li>
                        <li class="main-menu-item over-ub">
                            <a href="#" class="over-ub-link" >
                                <span class="menu-item-text">Over (Un)usual Business</span>
                            </a>
                        </li>
                        <li class="main-menu-item main-menu-how-to-circles" >
                          <a href="#" class="how-to-circles-link" >
                            <img src="{% static 'images/how-to-circles.svg' %}" class="how-to-circles-icon" width="50.457px" height="50.457px" />
                            <span class="menu-item-text">Thema's</span>
                          </a>
                        </li>
                        <li class="main-menu-item main-menu-search" >
                          <a href="#" >
                            <img src="{% static 'images/search-icon.svg' %}" class="search-icon" width="23.334px" height="23.334px" />
                          </a>
                        </li>
                        <li class="main-menu-item main-menu-language">
                          <a href="#" class="language" >
                            <span class="menu-item-short-text">EN</span>
                            <span class="menu-item-text">English</span>
                          </a>
                        </li>
                    </ul>
                </nav>
                {% endblock %}
            </header>

            <section class="l-content">

                {% block sidebarleft %}
                    <aside class="sidebar-left">
                    </aside>
                {% endblock %}

                {% block content %}{% endblock %}

                {% block sidebarright %}
                    <aside class="sidebar-right">
                    </aside>
                {% endblock %}

            </section>

            <footer class="footer"></footer>
        </div>

{#        <script src="{% static 'bower_components/jquery/dist/jquery.js' %}"></script>#}
{#        <script src="{% static 'bower_components/modernizr/modernizr.js' %}"></script>#}
{#        <script src="{% static 'bower_components/picturefill/dist/picturefill.js' %}"></script>#}

        <script crossorigin="anonymous" integrity="sha256-tyoKpDaoqJZQQb7aMFdyMmd+9liLuTO1vr7S3gLATcg="
                src="https://cdn.jsdelivr.net/jquery/3.0.0-beta1/jquery.min.js"></script>

        <script crossorigin="anonymous" integrity="sha256-aYRgAP2Ce3EpJHrl4BDh0AXcFV9K/NaU8waMc5T3/q8="
                src="https://cdn.jsdelivr.net/jquery.event.move/1.3.5/jquery.event.move.min.js"></script>

        <script crossorigin="anonymous" integrity="sha256-UT7vc8+lVIWnAt25qONOeVuiK8pAAS23WEbyKSMMewY="
                src="https://cdn.jsdelivr.net/jquery.event.swipe/0.5.2/jquery.event.swipe.min.js"></script>

        <script crossorigin="anonymous" integrity="sha256-2oGVQmkrPxwqZnujTv80Zagtl1aVOhRGq30Hcvmx7dU="
                src="https://cdn.jsdelivr.net/modernizr/2.8.3/modernizr.min.js"></script>

        <script crossorigin="anonymous" integrity="sha256-iT+n/otuaeKCgxnASny7bxKeqCDbaV1M7VdX1ZRQtqg="
                src="https://cdn.jsdelivr.net/picturefill/3.0.2/picturefill.min.js"></script>

        <script crossorigin="anonymous" integrity="sha256-vwV2uHl48k90PixRkSltSxx+/4S8XhevXCrpaiJTGr8="
                src="https://cdn.jsdelivr.net/velocity/1.2.3/velocity.min.js"></script>

        <script src="{% static 'bower_components/flexibility/dist/flexibility.js' %}"></script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}

        <script type="text/javascript" src="{% static 'scripts/main.min.js' %}"></script>
    </body>
</html>
