{% load static wagtailuserbar %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}{% block title_suffix %}{% endblock %}</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        {% block open_graph %}
            <meta property="og:url"           content="{{ page.full_url }}" />
            <meta property="og:type"          content="website" />
            <meta property="og:title"         content="{% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}" />
            <meta property="og:description"   content="(Un)usual Business aims to take democratic control over the common means of our lives and change the way we relate to each other. We envision a world in which economic and social relations are based on self-organization, care, solidarity and sustainability." />
            <meta property="og:image"         content="{% static 'images/ub-logo.svg' %}" />
        {% endblock %}
        <script type="text/javascript">
            WebFontConfig = {
                google: {
                    families: [
                        'Open+Sans:400,700:latin',
                        'Merriweather:300italic,300,700,400:latin'
                    ]
                }
            };

            (function(d) {
              var wf = d.createElement('script'), s = d.scripts[0];
              wf.src = 'https://cdn.jsdelivr.net/webfontloader/1.6.22/webfontloader.js';
              s.parentNode.insertBefore(wf, s);
            })(document);
        </script>

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <link rel="icon" type="image/png" href="favicon.png" />

{#        <link rel="stylesheet" crossorigin="anonymous" integrity="sha256-z3Zd2vSyiYzTkz83GvboBvga8btMdZo4LGsO+yxzQQg="#}
{#              href="https://cdn.jsdelivr.net/normalize/3.0.3/normalize.min.css">#}
        <link rel="stylesheet" href="{% static 'bower_components/normalize-css/normalize.css' %}" />
        <link rel="stylesheet" href="{% static 'bower_components/animate.css/animate.css' %}" />

        <link rel="stylesheet" href="{% static 'styles/main.css' %}" />

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {#{% wagtailuserbar %}#}
        {% include "blocks/svg_include.html" %}

        <header class="l-navbar navbar">
            <div class="ub-logo clearfix">
                <a href="/" class="ub-logo-link" >
                    <svg class="ub-logo-icon" width="41.401px" height="33.63px" >
                        <title>Unusual Business logo</title>
                        <desc>Click to go home</desc>
                        <use xlink:href="#ub-logo" />
                    </svg>
                </a>
            </div>
            <nav class="l-main-nav" >
                <ul class="l-main-menu" >
                    <li class="main-menu-item main-menu-home">
                        <a href="/" class="main-menu-item-link main-menu-home-link" >
                            <svg  width="30px" height="30px" class="menu-icon ub-logo-icon" >
                                <title>Unusual Business logo</title>
                                <desc>Click to go home</desc>
                                <use xlink:href="#ub-logo" />
                            </svg>
                            <span class="menu-item-text">Home</span>
                        </a>
                    </li>
                    <li class="main-menu-item main-menu-how-to">
                        <a href="/activities/" class="main-menu-item-link how-to-link main-menu-item-link-activities" >
                            <svg width="30px" height="30px" class="menu-icon circle" >
                              <use xlink:href="#circle" />
                            </svg>
                            <span class="menu-item-text">Activity</span>
                        </a>
                    </li>
                    <li class="main-menu-item main-menu-how-to">
                        <a href="/practitioners/" class="main-menu-item-link how-to-link main-menu-item-link-practitioners" >
                            <svg width="30px" height="30px" class="menu-icon circle" >
                              <use xlink:href="#circle" />
                            </svg>
                            <span class="menu-item-text">Practitioners</span>
                        </a>
                    </li>
                    <li class="main-menu-item main-menu-how-to">
                        <a href="/stories/" class="main-menu-item-link how-to-link main-menu-item-link-stories" >
                            <svg width="30px" height="30px" class="menu-icon circle" >
                              <use xlink:href="#circle" />
                            </svg>
                            <span class="menu-item-text">Stories</span>
                        </a>
                    </li>
                    <li class="main-menu-item main-menu-how-to">
                        <a href="/theory/" class="main-menu-item-link how-to-link main-menu-item-link-theory" >
                            <svg width="30px" height="30px" class="menu-icon circle" >
                              <use xlink:href="#circle" />
                            </svg>
                            <span class="menu-item-text">Theory</span>
                        </a>
                    </li>
                </ul>
                <ul class="l-right-menu">
                    <li class="main-menu-item main-menu-how-to-circles" >
                      <a href="/how-to/" class="main-menu-item-link how-to-circles-link" >
                        <svg width="45px" height="45px" class="menu-icon how-to-circles-icon"  >
                          <use xlink:href="#how-to-circles" />
                        </svg>
                        <span class="menu-item-text">Research overview</span>
                      </a>
                    </li>
                    <li class="main-menu-item about-ub">
                        <a href="/about/" class="main-menu-item-link about-ub-link" >
                            <span class="menu-item-short-text">About</span>
                            <span class="menu-item-text">Over (Un)usual Business</span>
                        </a>
                    </li>
                    <li class="main-menu-item main-menu-search" >
                        <a href="/search/" class="main-menu-item-link" >
                            <svg class="search-icon" width="23.334px" height="23.334px" >
                                <title>Seach icon</title>
                                <desc>Click to open search text field</desc>
                              <use xlink:href="#search-icon" />
                            </svg>
                        </a>
                    </li>
                    <li class="main-menu-item main-menu-language">
                      <a href="#" class="main-menu-item-link language" >
                        <span class="menu-item-short-text">EN</span>
                        <span class="menu-item-text">English</span>
                      </a>
                    </li>
                    <li class="main-menu-item main-menu-footer">
                        <div class="main-menu-item-link main-menu-item-link-footer">
                            <a href="#" class="main-menu-newsletter-link" >Nieuwsbrief</a>
                            <span class="main-menu-divider">|</span>
                            <a href="https://www.facebook.com/sharer/sharer.php?u={{ self.full_url|urlencode }}&display=popup&ref=plugin&ampsrc=share_button" class="main-menu-facebook-link" >Facebook</a>
                        </div>
                    </li>
                </ul>
            </nav>
            <!--/.main-nav-->
            <div class="search-bar">
                <label class="search-label"  for="searchTextBox" aria="label">
                    <svg class="search-icon" width="23.334px" height="23.334px" >
                        <title>Seach icon</title>
                        <desc>Click to open search text field</desc>
                      <use xlink:href="#search-icon" />
                    </svg>
                </label>
                <input type="text" class="search-textbox" id="searchTextBox" placeholder="">
            </div>
            <div class="hamburger-menu">
                <a id="hamburger-menu-button" href="#mobile-menu"
                   title="navigation menu"
                   aria-label="navigation menu"
                   role="button"
                   aria-controls="navigation"
                   aria-expanded="false" >
                    <span></span>
                </a>
            </div>
        </header>
        <!--/.l-header-->

        {% block extra_navbar %}
        {% endblock %}

        <div class="l-wrapper">

            <section class="l-content">

                {% block content %}{% endblock %}

            </section>
            <!--/#l-content-->

            {% include "blocks/footer.html" %}
        </div>
        <!--/#l-wrapper-->

        <script src="{% static 'bower_components/jquery/dist/jquery.js' %}"></script>
        <script src="{% static 'bower_components/jquery.event.move/js/jquery.event.move.js' %}"></script>
        <script src="{% static 'bower_components/jquery.event.swipe/js/jquery.event.swipe.js' %}"></script>
        <script src="{% static 'bower_components/jquery-sticky/jquery.sticky.js' %}"></script>
        <script src="{% static 'bower_components/modernizr/modernizr.js' %}"></script>
{#        <script src="{% static 'bower_components/velocity/velocity.js' %}"></script>#}
        <script src="{% static 'bower_components/unslider/dist/js/unslider-min.js' %}"></script>
        <script src="{% static 'bower_components/sidr/dist/jquery.sidr.js' %}"></script>
        <script src="{% static 'bower_components/isotope/dist/isotope.pkgd.js' %}"></script>
        <script src="{% static 'bower_components/isotope-fit-columns/fit-columns.js' %}"></script>
        <script src="{% static 'bower_components/isotope-masonry-horizontal/masonry-horizontal.js' %}"></script>
        <script src="{% static 'bower_components/isotope-packery/packery-mode.pkgd.js' %}"></script>
        <script src="{% static 'bower_components/imagesloaded/imagesloaded.pkgd.js' %}"></script>
{#        <script src="{% static 'bower_components/social-share-privacy-light/javascripts/socialshareprivacy.js' %}"></script>#}

        <!-- Polyfills -->
        <script src="{% static 'bower_components/flexibility/dist/flexibility.js' %}"></script>
        <script src="{% static 'bower_components/picturefill/dist/picturefill.js' %}"></script>
        <script src="{% static 'bower_components/svg4everybody/dist/svg4everybody.js' %}"></script>

{#        <script crossorigin="anonymous" integrity="sha256-tyoKpDaoqJZQQb7aMFdyMmd+9liLuTO1vr7S3gLATcg="#}
{#                src="https://cdn.jsdelivr.net/jquery/3.0.0-beta1/jquery.min.js"></script>#}

{#        <script crossorigin="anonymous" integrity="sha256-aYRgAP2Ce3EpJHrl4BDh0AXcFV9K/NaU8waMc5T3/q8="#}
{#                src="https://cdn.jsdelivr.net/jquery.event.move/1.3.5/jquery.event.move.min.js"></script>#}
{##}
{#        <script crossorigin="anonymous" integrity="sha256-UT7vc8+lVIWnAt25qONOeVuiK8pAAS23WEbyKSMMewY="#}
{#                src="https://cdn.jsdelivr.net/jquery.event.swipe/0.5.2/jquery.event.swipe.min.js"></script>#}

{#        <script crossorigin="anonymous" integrity="sha256-2oGVQmkrPxwqZnujTv80Zagtl1aVOhRGq30Hcvmx7dU="#}
{#                src="https://cdn.jsdelivr.net/modernizr/2.8.3/modernizr.min.js"></script>#}
{##}
{#        <script crossorigin="anonymous" integrity="sha256-iT+n/otuaeKCgxnASny7bxKeqCDbaV1M7VdX1ZRQtqg="#}
{#                src="https://cdn.jsdelivr.net/picturefill/3.0.2/picturefill.min.js"></script>#}

{#        <script crossorigin="anonymous" integrity="sha256-vwV2uHl48k90PixRkSltSxx+/4S8XhevXCrpaiJTGr8="#}
{#                src="https://cdn.jsdelivr.net/velocity/1.2.3/velocity.min.js"></script>#}

{#        <script crossorigin="anonymous" integrity="sha256-M4hn22AGHQ12lwC9Kd7yL9Y7zlXpBAAey3pL/i9JErQ="#}
{#                src="https://cdn.jsdelivr.net/isotope/2.2.2/isotope.pkgd.min.js"></script>#}

{#        <script crossorigin="anonymous" integrity="sha256-3I0LzPmusmR3Y+Rg60qqFiJrlnowKBfAqtLCWNfyBWU="#}
{#                src="https://cdn.jsdelivr.net/svg4everybody/2.0.3/svg4everybody.legacy.min.js"></script>#}

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}

        <script type="text/javascript" src="{% static 'scripts/bundle.js' %}"></script>
    </body>
</html>
