{% load static wagtailcore_tags wagtailimages_tags ub_core_tags i18n %}
<a href="{{ page.url }}"class="l-body-article-pull-left article-inline article-inline-organization is-visuallyhidden" id="organization-{{ self.id }}">
    <span class="icon-wrapper">
        <svg width="22px" height="22px" class="article-format-icon organization-icon white-icon" >
            <use xlink:href="#organization-icon" />
        </svg>
    </span>
    <span class="article-inline-body">
        <span class="article-inline-title article-inline-organization-title">
            {{ self.title }}
        </span>
        <span class="article-inline-text article-inline-organization-description" >
            {{ self.description|truncatewords:45 }}
        </span>
    </span>
</a>
