
<section class="latest-articles article-index-page-list" id="practitioners">
    <h2 class="hidden-title">Latest Articles</h2>
    <ul class="l-grid grid-packery">
        <li class="l-grid-gutter-sizer"></li>
        {% for organization in organizations %}
            {% if organization %}
                {% include "organizations/blocks/latest_organization.html" with page=organization list_item_classes='l-grid-item-fixed-height' %}
            {% endif %}
            {% empty %}
                <li>Sorry, no organizations found.</li>
        {% endfor %}
    </ul>
</section>
