{% load static wagtailcore_tags wagtailimages_tags ub_core_tags i18n %}

<li class="l-grid-item {{ list_item_classes }} latest-organization">
    <a href="{{ page.url }}" class="latest-organization-link start-animation-on-hover">
        <div class="icon-wrapper">
            <svg width="22px" height="22px" class="article-format-icon organization-icon white-icon" >
                <use xlink:href="#organization-icon" />
            </svg>
        </div>
        <h4 class="latest-organization-title">
            {{ page.title }}
        </h4>
    </a>
</li>
