/* ==|====================
   Base/Icons
   ======================= */

// SVG Colors
.blue-icon {
  fill: $blue;
  stroke: $blue;
}

.black-icon {
  fill: $black;
  stroke: $black;
}

.green-icon {
  fill: $green;
  stroke: $green;
}

.yellow-icon {
  fill: $yellow;
  stroke: $yellow;
}

.white-icon {
  fill: $white;
  stroke: $white;
}

.chevron-link {
  padding-left: 7px;
  vertical-align: bottom;
  padding-bottom: 1px;
}

.icon-wrapper {
  flex: 0 0 48px;
  align-self: flex-start;
  width: 48px;
  height: 48px;
  border-radius: 24px;
  text-align: center;

  @media(max-width: $tablet) {
    margin-top: $gutter / 2;
  }

  @media(max-width: $mobile) {
    align-self: center;
  }

  .latest-story-article & {
    align-self: center;
    margin-top: -14px; // lower below date
    background-color: $yellow;

    @media(max-width: $tablet) {
      align-self: flex-start;
      margin-top: $gutter / 2;
    }

    @media(max-width: $mobile) {
      align-self: center;
    }
  }

  .article-inline-organization &,
  .latest-organization & {
    background-color: $black;
    margin-bottom: $gutter / 2;
  }

  .latest-theory-article & {
    background-color: $green;

    @media(max-width: $tablet) {
      margin-top: $gutter / 2;
    }
  }

  .latest-news-article & {
    margin-top: calc(var(--gutter + 14px)); // lower below date
    background-color: $blue;

    @media(max-width: $tablet) {
      margin-top: $gutter / 2;
    }
  }

  .article-format-icon {
    padding-top: 13px;
  }
}
