/* ==|====================
   Base/Icons
   ======================= */

// SVG Colors
.blue-icon {
  fill: $blue;
  stroke: $blue;
}

.black-icon {
  fill: $black;
  stroke: $black;
}

.green-icon {
  fill: $green;
  stroke: $green;
}

.yellow-icon {
  fill: $yellow;
  stroke: $yellow;
}

.white-icon {
  fill: $white;
  stroke: $white;
}
