/* ==|====================
   Base/Mixins
   ======================= */

@import "base";

.border-top {
  border-top: solid 2px $light-gray;
}

.border-right {
  border-right: solid 2px $light-gray;
}

.border-bottom {
  border-bottom: solid 2px $light-gray;
}

.border-left {
  border-left: solid 2px $light-gray;
}

.border-bottom-blue {
  border-bottom: solid 1px $blue;
}

.border-top-blue {
  border-top: solid 1px $blue;
}

@mixin border-top {
  border-top: solid 2px $light-gray;
}

@mixin border-right {
  border-right: solid 2px $light-gray;
}

@mixin border-bottom {
  border-bottom: solid 2px $light-gray;
}

@mixin border-left {
  border-left: solid 2px $light-gray;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */
