
$icons: (
	  sprite: (width: 1949px, height: 1796px, pngPath: '../images/sprite.png', svgPath: '../images/sprite.svg'),
 	article-icon: (width: 22.439999999999998px, height: 15.16px, backgroundX: 0px, backgroundY: 0px),
 	audio-icon: (width: 21.99px, height: 19.08px, backgroundX: -33px, backgroundY: -26px),
 	callout-icon: (width: 24.479999999999997px, height: 17.24px, backgroundX: -65px, backgroundY: -56px),
 	chevron-icon: (width: 20.25px, height: 11.670000000000002px, backgroundX: -100px, backgroundY: -84px),
 	circle: (width: 48.16px, height: 48.16px, backgroundX: -131px, backgroundY: -106px),
 	close-menu-icon: (width: 17px, height: 17px, backgroundX: -190px, backgroundY: -165px),
 	eye-icon: (width: 28px, height: 28px, backgroundX: -217px, backgroundY: -192px),
 	hamburger-menu-icon: (width: 16.72px, height: 14.059999999999999px, backgroundX: -255px, backgroundY: -230px),
 	help-button: (width: 29.54px, height: 29.6px, backgroundX: -282px, backgroundY: -255px),
 	how-to-circles: (width: 50.46px, height: 50.46px, backgroundX: -322px, backgroundY: -295px),
 	how-to-circles-black: (width: 192.92px, height: 192.92px, backgroundX: -383px, backgroundY: -356px),
 	how-to-circles-blue: (width: 192.92px, height: 192.92px, backgroundX: -586px, backgroundY: -559px),
 	how-to-circles-empty: (width: 192.92px, height: 192.92px, backgroundX: -789px, backgroundY: -762px),
 	how-to-circles-green: (width: 192.92px, height: 192.92px, backgroundX: -992px, backgroundY: -965px),
 	how-to-circles-yellow: (width: 192.92px, height: 192.92px, backgroundX: -1195px, backgroundY: -1168px),
 	how-to-eye: (width: 22.939999999999998px, height: 15.690000000000001px, backgroundX: -1398px, backgroundY: -1371px),
 	how-to-eye-circle-white: (width: 26.840000000000003px, height: 26.840000000000003px, backgroundX: -1431px, backgroundY: -1397px),
 	how-to-eyebrow: (width: 118.12px, height: 19.41px, backgroundX: -1468px, backgroundY: -1434px),
 	image-gallery-icon: (width: 21.37px, height: 16.41px, backgroundX: -1597px, backgroundY: -1464px),
 	link-icon: (width: 19.51px, height: 19.08px, backgroundX: -1629px, backgroundY: -1491px),
 	megaphone-icon: (width: 24.85px, height: 16.6px, backgroundX: -1659px, backgroundY: -1521px),
 	organization-icon: (width: 37.44px, height: 37.44px, backgroundX: -1694px, backgroundY: -1548px),
 	pdf-icon: (width: 19.14px, height: 24.740000000000002px, backgroundX: -1742px, backgroundY: -1596px),
 	search-icon: (width: 23.33px, height: 23.33px, backgroundX: -1772px, backgroundY: -1631px),
 	theory-article-icon: (width: 17.4px, height: 17.6px, backgroundX: -1806px, backgroundY: -1665px),
 	ub-logo: (width: 41.4px, height: 33.63px, backgroundX: -1834px, backgroundY: -1693px),
 	upcoming-event-icon: (width: 23.090000000000003px, height: 23.090000000000003px, backgroundX: -1886px, backgroundY: -1737px),
 	video-icon: (width: 18.42px, height: 14.5px, backgroundX: -1920px, backgroundY: -1771px),
);
