
$icons: (
	  sprite: (width: 2520px, height: 2251px, pngPath: '../images/sprite.png', svgPath: '../images/sprite.svg'),
 	audio-icon: (width: 21.99px, height: 19.08px, backgroundX: 0px, backgroundY: 0px),
 	back-icon: (width: 44.45px, height: 33.81px, backgroundX: -32px, backgroundY: -30px),
 	casco-logo: (width: 85.23px, height: 28.1px, backgroundX: -87px, backgroundY: -74px),
 	chevron-blue-icon: (width: 10px, height: 16.13px, backgroundX: -183px, backgroundY: -113px),
 	chevron-gray-icon: (width: 10px, height: 16.13px, backgroundX: -203px, backgroundY: -140px),
 	chevron-green-icon: (width: 10px, height: 16.13px, backgroundX: -223px, backgroundY: -167px),
 	chevron-icon: (width: 10px, height: 16.13px, backgroundX: -243px, backgroundY: -194px),
 	chevron-white-icon: (width: 10px, height: 16.13px, backgroundX: -263px, backgroundY: -221px),
 	chevron-yellow-icon: (width: 10px, height: 16.13px, backgroundX: -283px, backgroundY: -248px),
 	circle: (width: 48.16px, height: 48.16px, backgroundX: -303px, backgroundY: -275px),
 	close-menu-icon: (width: 17px, height: 17px, backgroundX: -362px, backgroundY: -334px),
 	document-icon: (width: 19.14px, height: 24.740000000000002px, backgroundX: -389px, backgroundY: -361px),
 	event-icon: (width: 24.479999999999997px, height: 17.24px, backgroundX: -419px, backgroundY: -396px),
 	eye-icon: (width: 28px, height: 28px, backgroundX: -454px, backgroundY: -424px),
 	facebook-icon: (width: 15.149999999999999px, height: 32.43px, backgroundX: -492px, backgroundY: -462px),
 	hamburger-menu-icon: (width: 16.72px, height: 14.059999999999999px, backgroundX: -518px, backgroundY: -505px),
 	help-button: (width: 29.54px, height: 29.6px, backgroundX: -545px, backgroundY: -530px),
 	how-to-circles: (width: 50.46px, height: 50.46px, backgroundX: -585px, backgroundY: -570px),
 	how-to-circles-black: (width: 192.92px, height: 192.92px, backgroundX: -646px, backgroundY: -631px),
 	how-to-circles-blue: (width: 192.92px, height: 192.92px, backgroundX: -849px, backgroundY: -834px),
 	how-to-circles-empty: (width: 192.92px, height: 192.92px, backgroundX: -1052px, backgroundY: -1037px),
 	how-to-circles-green: (width: 192.92px, height: 192.92px, backgroundX: -1255px, backgroundY: -1240px),
 	how-to-circles-yellow: (width: 192.92px, height: 192.92px, backgroundX: -1458px, backgroundY: -1443px),
 	how-to-eye: (width: 22.939999999999998px, height: 15.690000000000001px, backgroundX: -1661px, backgroundY: -1646px),
 	how-to-eye-circle-white: (width: 26.840000000000003px, height: 26.840000000000003px, backgroundX: -1694px, backgroundY: -1672px),
 	how-to-eyebrow: (width: 118.12px, height: 19.41px, backgroundX: -1731px, backgroundY: -1709px),
 	images-icon: (width: 21.37px, height: 16.41px, backgroundX: -1860px, backgroundY: -1739px),
 	ksu-logo: (width: 81.59px, height: 45.1px, backgroundX: -1892px, backgroundY: -1766px),
 	link-icon: (width: 19.51px, height: 19.08px, backgroundX: -1984px, backgroundY: -1822px),
 	organization-icon: (width: 21.21px, height: 20.58px, backgroundX: -2014px, backgroundY: -1852px),
 	search-icon: (width: 23.33px, height: 23.33px, backgroundX: -2046px, backgroundY: -1883px),
 	text-icon: (width: 22.439999999999998px, height: 15.16px, backgroundX: -2080px, backgroundY: -1917px),
 	theory-icon: (width: 17.4px, height: 17.6px, backgroundX: -2113px, backgroundY: -1943px),
 	toc-icon: (width: 25.18px, height: 20.19px, backgroundX: -2141px, backgroundY: -1971px),
 	twitter-icon: (width: 34.2px, height: 28.54px, backgroundX: -2177px, backgroundY: -2002px),
 	ub-logo: (width: 41.4px, height: 33.63px, backgroundX: -2222px, backgroundY: -2041px),
 	ub-logo-large: (width: 172.65px, height: 96.92px, backgroundX: -2274px, backgroundY: -2085px),
 	upcoming-event-icon: (width: 23.090000000000003px, height: 23.090000000000003px, backgroundX: -2457px, backgroundY: -2192px),
 	video-icon: (width: 18.42px, height: 14.5px, backgroundX: -2491px, backgroundY: -2226px),
);
