
$icons: (
	  sprite: (width: 2075px, height: 1922px, pngPath: '../images/sprite.png', svgPath: '../images/sprite.svg'),
 	article-icon: (width: 22.439999999999998px, height: 15.16px, backgroundX: 0px, backgroundY: 0px),
 	audio-icon: (width: 21.99px, height: 19.08px, backgroundX: -33px, backgroundY: -26px),
 	back-icon: (width: 44.45px, height: 33.81px, backgroundX: -65px, backgroundY: -56px),
 	callout-icon: (width: 24.479999999999997px, height: 17.24px, backgroundX: -120px, backgroundY: -100px),
 	chevron-icon: (width: 20.25px, height: 11.670000000000002px, backgroundX: -155px, backgroundY: -128px),
 	circle: (width: 48.16px, height: 48.16px, backgroundX: -186px, backgroundY: -150px),
 	close-menu-icon: (width: 17px, height: 17px, backgroundX: -245px, backgroundY: -209px),
 	eye-icon: (width: 28px, height: 28px, backgroundX: -272px, backgroundY: -236px),
 	facebook-icon: (width: 15.149999999999999px, height: 32.43px, backgroundX: -310px, backgroundY: -274px),
 	hamburger-menu-icon: (width: 16.72px, height: 14.059999999999999px, backgroundX: -336px, backgroundY: -317px),
 	help-button: (width: 29.54px, height: 29.6px, backgroundX: -363px, backgroundY: -342px),
 	how-to-circles: (width: 50.46px, height: 50.46px, backgroundX: -403px, backgroundY: -382px),
 	how-to-circles-black: (width: 192.92px, height: 192.92px, backgroundX: -464px, backgroundY: -443px),
 	how-to-circles-blue: (width: 192.92px, height: 192.92px, backgroundX: -667px, backgroundY: -646px),
 	how-to-circles-empty: (width: 192.92px, height: 192.92px, backgroundX: -870px, backgroundY: -849px),
 	how-to-circles-green: (width: 192.92px, height: 192.92px, backgroundX: -1073px, backgroundY: -1052px),
 	how-to-circles-yellow: (width: 192.92px, height: 192.92px, backgroundX: -1276px, backgroundY: -1255px),
 	how-to-eye: (width: 22.939999999999998px, height: 15.690000000000001px, backgroundX: -1479px, backgroundY: -1458px),
 	how-to-eye-circle-white: (width: 26.840000000000003px, height: 26.840000000000003px, backgroundX: -1512px, backgroundY: -1484px),
 	how-to-eyebrow: (width: 118.12px, height: 19.41px, backgroundX: -1549px, backgroundY: -1521px),
 	image-gallery-icon: (width: 21.37px, height: 16.41px, backgroundX: -1678px, backgroundY: -1551px),
 	link-icon: (width: 19.51px, height: 19.08px, backgroundX: -1710px, backgroundY: -1578px),
 	megaphone-icon: (width: 24.85px, height: 16.6px, backgroundX: -1740px, backgroundY: -1608px),
 	organization-icon: (width: 37.44px, height: 37.44px, backgroundX: -1775px, backgroundY: -1635px),
 	pdf-icon: (width: 19.14px, height: 24.740000000000002px, backgroundX: -1823px, backgroundY: -1683px),
 	search-icon: (width: 23.33px, height: 23.33px, backgroundX: -1853px, backgroundY: -1718px),
 	theory-article-icon: (width: 17.4px, height: 17.6px, backgroundX: -1887px, backgroundY: -1752px),
 	twitter-icon: (width: 34.2px, height: 28.54px, backgroundX: -1915px, backgroundY: -1780px),
 	ub-logo: (width: 41.4px, height: 33.63px, backgroundX: -1960px, backgroundY: -1819px),
 	upcoming-event-icon: (width: 23.090000000000003px, height: 23.090000000000003px, backgroundX: -2012px, backgroundY: -1863px),
 	video-icon: (width: 18.42px, height: 14.5px, backgroundX: -2046px, backgroundY: -1897px),
);
