{% load static wagtailimages_tags wagtailcore_tags  ub_wagtailcore_tags  i18n %}

<li class="l-grid-item how-to-grid-item {{ how_to.content_type.model }} ">
    <a href="{% pageurl how_to %}" class="how-to-link start-animation-on-hover"  >
        <h2 class="how-to-title">{{ how_to.title }}</h2>
        <div class="how-to-circles ">
            <svg  class="how-to-circles-image {{ how_to.circles }}" width="262" height="262" >
                <title>How to</title>
                <desc>Click to go to the How to page</desc>
                <use xlink:href="#how-to-circles" />
            </svg>
        </div>
    </a>
    <div class="how-to-meta">
        <ul>
            <li class="how-to-meta-list-item event-count">
                <div class="number count-{{ how_to.event_page_list|length }}">
                    {{ how_to.event_page_list|length }}
                </div>
                <span class="article-type">Activities</span>
            </li>
            <li class="how-to-meta-list-item story-count">
                <div class="number count-{{ how_to.story_page_list|length }}">
                    {{ how_to.story_page_list|length }}
                </div>
                <span class="article-type">Stories</span>
            </li>
            <li class="how-to-meta-list-item organization-count">
                <div class="number count-{{ how_to.organizations|length }}">
                    {% ifequal how_to.organizations.count 0 %}
                        -
                    {% else %}
                        {{ how_to.organizations.count }}
                    {% endifequal %}
                </div>
                <span class="article-type">Practitioners</span>
            </li>
            <li class="how-to-meta-list-item theory-count">
                <div class="number count-{{ how_to.theory_page_list|length }}">
                    {{ how_to.theory_page_list|length }}
                </div>
                <span class="article-type">Theory</span>
            </li>
        </ul>
    </div>
</li>
