{% load static wagtailimages_tags wagtailcore_tags ub_core_tags ub_wagtailcore_tags  i18n %}

<li class="howto-block howto-block-fixed-height {{ how_to.content_type.model }}">
    <a href="{% pageurl how_to %}" class="howto-block-link"  >
        <h2 class="howto-block-title">{{ how_to.title }}</h2>
    </a>
    <div class="howto-block-circles {{ how_to.circles }}">
        <img src="{% static 'images/how-to-circles-empty.svg' %}" class="how-to-circles-empty" width="192.921px" height="192.921px" />
        <img src="{% static 'images/how-to-circles-green.svg' %}" class="how-to-circles-green" width="192.921px" height="192.921px" />
        <img src="{% static 'images/how-to-circles-yellow.svg' %}" class="how-to-circles-yellow" width="192.921px" height="192.921px" />
        <img src="{% static 'images/how-to-circles-black.svg' %}" class="how-to-circles-black" width="192.921px" height="192.921px" />
        <img src="{% static 'images/how-to-circles-blue.svg' %}" class="how-to-circles-blue" width="192.921px" height="192.921px" />
    </div>
    <hr>
    <div class="howto-block-meta">
        <ul>
            <li class="howto-block-meta-list-item event-count">
                <div class="number {% ifequal how_to.events.count 0 %}empty{% endifequal %}">
                    {% ifequal how_to.events.count 0 %}
                        -
                    {% else %}
                        {{ how_to.events.count }}
                    {% endifequal %}
                </div>
                <span class="article-type">evenementen</span>
            </li>
            <li class="howto-block-meta-list-item story-count">
                <div class="number {% ifequal how_to.story_pages.count 0 %}empty{% endifequal %}">
                    {% ifequal how_to.story_pages.count 0 %}
                        -
                    {% else %}
                        {{ how_to.story_pages.count }}
                    {% endifequal %}
                </div>
                <span class="article-type">verhalen</span>
            </li>
            <li class="howto-block-meta-list-item organization-count">
                <div class="number {% ifequal how_to.organizations.count 0 %}empty{% endifequal %}">
                    {% ifequal how_to.organizations.count 0 %}
                        -
                    {% else %}
                        {{ how_to.organizations.count }}
                    {% endifequal %}
                </div>
                <span class="article-type">groepen</span>
            </li>
            <li class="howto-block-meta-list-item theory-count">
                <div class="number {% ifequal how_to.theory_pages.count 0 %}empty{% endifequal %}">
                    {% ifequal how_to.theory_pages.count 0 %}
                        -
                    {% else %}
                        {{ how_to.theory_pages.count }}
                    {% endifequal %}
                </div>
                <span class="article-type">artikelen</span>
            </li>
        </ul>
    </div>
    {% if how_to.upcoming_events %}
        <hr>
        <div class="howto-grid-item-events">
            <ul class="featured-agenda-items">
                {% for event in how_to.upcoming_events %}
                    {% include "events/blocks/agenda_item.html" with vertical_date_class="vertical-date-smaller" %}
                {% endfor %}
            </ul>
        </div>
    {%  endif %}
</li>
