
// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #000000;
$brand-secondary:       #000000;
$white:                 #ffffff;
$black:                 #000000;

$blue:                  #547aff;
$orange:                #ffa700;
$green:                 #22b573;
