
// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #000000;
$brand-secondary:       orangeß;
$white:                 #ffffff;
$black:                 #000000;
