{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags i18n %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}

    <h2>Pages</h2>
    {% for a_page in pages %}
        <ul>
            <li><a href="{{ a_page.url }}">{{ a_page.title }}</a> ({{ a_page.first_published_at|date:"SHORT_DATETIME_FORMAT" }})</li>
        </ul>
    {% endfor %}

    <div class="stream">
        {% for block in page.stream %}
            {% if block.block_type == 'heading' %}
                <h1>{{ block.value }}</h1>
            {% else %}
                <section class="block-{{ block.block_type }}">
                    {{ block }}
                </section>
            {% endif %}
        {% endfor %}
    </div>

{% endblock %}
