{% load static wagtailimages_tags wagtailcore_tags  ub_wagtailcore_tags  i18n %}


<div class="article-subheader">
    <a href="{{ parent.url_path }}" class="back-link">All {{ parent.title }}</a>
    <ul class="social-links-list">
        <li class="social-list-item ">
            <a href="https://www.facebook.com/sharer/sharer.php?u={{ self.full_url|urlencode }}&display=popup&ref=plugin&ampsrc=share_button"
               class="social-list-item-link facebook-link">
                <svg class="social-icon facebook-icon" width="10.547px" height="22.579px">
                    <title>Facebook icon</title>
                    <desc>Click to share on Facebook</desc>
                    <use xlink:href="#facebook-icon"/>
                </svg>
                <span class="menu-item-text">Facebook</span>
            </a>
        </li>
        <li class="social-list-item ">
            <a href="https://twitter.com/intent/tweet?text={{ self.title }}&url={{ self.full_url|urlencode }}&via=unusual-business"
               class="social-list-item-link twitter-link">
                <svg class="social-icon twitter-icon" width="23.807px" height="19.871px">
                    <title>Twitter icon</title>
                    <desc>Click to share on Twitter</desc>
                    <use xlink:href="#twitter-icon"/>
                </svg>
                <span class="menu-item-text">Twitter</span>
            </a>
        </li>
        <li class="social-list-item social-list-item-copy-url">
            <a href="#" class="social-list-item-link copy-url-link black-icon" data-clipboard-text="{{ self.full_url }}">
                <svg class="social-icon copy-url-icon" width="28.543px" height="28.543px">
                    <title>Copy URL icon</title>
                    <desc>Click to copy page URL to clipboard</desc>
                    <use xlink:href="#link-icon"/>
                </svg>
                <span class="menu-item-text">Copy URL</span>
            </a>
        </li>
        <li class="social-list-item extra-list-item is-hidden ">
            <a class="social-list-item-link " href="https://plus.google.com/share?url={{ self.full_url|urlencode }}">
                <span class="menu-item-text">Google+</span>
            </a>
        </li>
        <li class="social-list-item extra-list-item is-hidden ">
            <a class="social-list-item-link " href="https://www.linkedin.com/shareArticle?mini=true&url={{ self.full_url|urlencode }}&title={{ self.title }}&summary={{ self.introduction|ub_richtext|striptags }}&source={{ self.full_url|urlencode }}">
                <span class="menu-item-text">LinkedIn</span>
            </a>
        </li>
        <li class="social-list-item extra-list-item is-hidden ">
            <a class="social-list-item-link " href="https://pinterest.com/pin/create/button/?url={{ self.full_url|urlencode }}&description={{ self.introduction|ub_richtext|striptags }}&media={{ self.featured_image.value.image.url|urlencode }}">
                <span class="menu-item-text">Pinterest</span>
            </a>
        </li>
{#        <li class="social-list-item extra-list-item is-hidden ">#}
{#            <a class="social-list-item-link " href="https://vk.com/share.php?url={{ self.full_url|urlencode }}&title={{ self.title }}&description={{ self.introduction|ub_richtext|striptags }}&image={{ self.featured_image.value.image.url|urlencode }}&noparse=true">#}
{#                <span class="menu-item-text">VK</span>#}
{#            </a>#}
{#        </li>#}
{#        <li class="social-list-item extra-list-item is-hidden ">#}
{#            <a class="social-list-item-link " href="https://www.xing-share.com/app/user?op=share;sc_p=xing-share;url={{ self.full_url|urlencode }}">#}
{#                <span class="menu-item-text">Xing</span>#}
{#            </a>#}
{#        </li>#}
        <li class="social-list-item extra-list-item is-hidden ">
            <a class="social-list-item-link " href="http://www.tumblr.com/share/link?url={{ self.full_url|urlencode }}&description={{ self.introduction|ub_richtext|striptags }}">
                <span class="menu-item-text">Tumblr</span>
            </a>
        </li>
        <li class="social-list-item extra-list-item is-hidden ">
            <a class="social-list-item-link " href="http://www.reddit.com/submit?url={{ self.full_url|urlencode }}&title={{ self.title }}">
                <span class="menu-item-text">Reddit</span>
            </a>
        </li>
        <li class="social-list-item ">
            <a href="" class="social-list-item-link more-social-link">
                <svg class="social-icon plus-icon" width="17.683px" height="17.683px">
                    <title>More social links icon</title>
                    <desc>Click to share on more social networks</desc>
                    <use xlink:href="#plus-icon"/>
                </svg>
                <span class="menu-item-text">Other</span>
            </a>
        </li>
    </ul>
</div>
