<header class="l-navbar extra-navbar" data-scroll-header data-gumshoe-header>

    <div class="extra-navbar-hamburger">
        <a href="#" class="extra-navbar-hamburger-button"></a>
    </div>
    <div class="extra-navbar-title">
        {{ self.title }}
    </div>
    <div class="extra-navbar-social">
        <a href="https://www.facebook.com/sharer/sharer.php?u={{ page.full_url|urlencode }}&ampdisplay=popup&ampref=plugin&src=share_button" class="facebook-link">
            <svg class="facebook-icon white-icon" width="15.152px" height="32.433px" >
                <title>Facebook icon</title>
                <desc>Click to share on Facebook</desc>
                <use xlink:href="#facebook-icon" />
            </svg>
        </a>
        <a href="https://twitter.com/home?status={{ page.title }} - (Un)usual Business" class="twitter-link">
            <svg class="twitter-icon white-icon" width="34.198px" height="28.543px" >
                <title>Twitter icon</title>
                <desc>Click to share on Twitter</desc>
                <use xlink:href="#twitter-icon" />
            </svg>
        </a>
    </div>
    <div class="extra-navbar-hamburger-menu">
        <a href="javascript: void(0);" class="extra-navbar-hamburger-menu-button"></a>
    </div>
</header>
<!--/.l-header-->
