
{% load i18n %}

<footer class="l-footer footer">

    <div class="l-footer-element ub-logo-footer">
        <p class="ub-logo-footer-text">
            <a href="#" >
                <svg width="172.645px" height="96.919px" class="ub-logo-large"  >
                    <title>Unusual Business logo</title>
                    <desc>Click to go home</desc>
                    <use xlink:href="#ub-logo-large" />
                </svg>
            </a>
        </p>
    </div>

    <div class="l-footer-element page-links">
        <ul>
            <li><a href="/how-to/" class="">{% trans "Research overview" %}</a></li>
            <li><a href="/activities/" class="">{% trans "Activities" %}</a></li>
            <li><a href="/practitioners/" class="">{% trans "Practitioners" %}</a></li>
            <li><a href="/stories/" class="">{% trans "Stories" %}</a></li>
            <li><a href="/theory/" class="">{% trans "Theory" %}</a></li>
        </ul>
    </div>

    <div class="l-footer-element about-links">
        <ul>
            <li><a href="/about/" class="">{% trans "About (Un)usual Business" %}</a></li>
            <li><a href="/about/#why" class="">{% trans "Why this website?" %}</a></li>
            <li><a href="/about/#how" class="">{% trans "How does this site work?" %}</a></li>
            <li><a href="/about/#who" class="">{% trans "Who are we?" %}</a></li>
            <li><a href="/about/#me" class="">{% trans "How can I get involved?" %}</a></li>
        </ul>
    </div>

    <div class="l-footer-element contact-links">
        <ul>
            <li class="contact-links-search is-hidden">
                <a href="#" class=" ">{% trans "Search" %}</a>
            </li>
            <li class="contact-links-contact">
                <a href="/about/#contact" class=""></a>
            </li>
            <li class="contact-links-newsletter">
                <a href="/about/#newsletter" class="contact-links-newsletter-link">{% trans "Newsletter" %}</a>
            </li>
            <li class="contact-links-facebook">
                <a href="https://www.facebook.com/unusualbusinessutrecht/" class="">{% trans "Facebook" %}</a>
            </li>
        </ul>
    </div>

    <div class="l-footer-element casco-ksu-logos">
        <p class="casco-ksu-logos-text">
            <a href="#" >
                <svg width="85.227px" height="28.101px" class="casco-logo"  >
                    <title>Casco logo</title>
                    <desc>Click to go to the Casco website</desc>
                    <use xlink:href="#casco-logo" />
                </svg>
            </a>
            <br>
            <a href="#" >
                <svg width="81.591px" height="45.104px" class="ksu-logo"  >
                    <title>Kritische Studenten Utrecht (KSU) logo</title>
                    <desc>Click to go to the KSU website</desc>
                    <use xlink:href="#ksu-logo" />
                </svg>
            </a>
        </p>
    </div>

</footer>
<!--/#l-footer-->
