{% load i18n ub_tags %}
{% get_current_language as LANGUAGE_CODE %}
{% get_language_info for LANGUAGE_CODE as lang %}

<footer class="l-footer footer" id="footer">

    <div class="l-footer-element ub-logo-footer">
        <p class="ub-logo-footer-text">
            <a href="{{ parent.specific.url_path }}"  title="{{ parent.title }}" >
                <svg width="172.645px" height="96.919px" class="ub-logo-large"  >
                    <title>Unusual Business logo</title>
                    <desc>Click to go home</desc>
                    <use xlink:href="#ub-logo-large" />
                </svg>
            </a>
        </p>
    </div>

    <div class="l-footer-element page-links">
        <ul>
        {% for menuitem in menuitems %}
            {% if menuitem.specific.content_type.model != 'generalpage'  %}
                <li><a href="{{ menuitem.specific.url_path }}">{{ menuitem.specific.title }}</a></li>
            {% endif %}
        {% endfor %}
        </ul>
    </div>

    <div class="l-footer-element about-links">
        <ul>
            <li><a href="{{ about_page.specific.url_path }}">{{ about_page.specific.title }}</a></li>
            <li><a href="{{ about_page.specific.url_path }}#why">{% trans "Why this website?" %}</a></li>
            <li><a href="{{ about_page.specific.url_path }}#how">{% trans "How does this site work?" %}</a></li>
            <li><a href="{{ about_page.specific.url_path }}#who">{% trans "Who are we?" %}</a></li>
            <li><a href="{{ about_page.specific.url_path }}#me">{% trans "How can I get involved?" %}</a></li>
        </ul>
    </div>

    <div class="l-footer-element contact-links">
        <ul>
            <li class="contact-links-search is-hidden">
                <a href="{% url 'wagtailsearch_search' %}" class=" ">{% trans "Search" %}</a>
            </li>
            <li class="contact-links-contact">
                <a href="{{ about_page.specific.url_path }}#contact" class="">{% trans "Contact us" %}</a>
            </li>
            <li class="contact-links-newsletter">
                <a href="{{ about_page.specific.url_path }}#newsletter" class="contact-links-newsletter-link">{% trans "Newsletter" %}</a>
            </li>
            <li class="contact-links-facebook">
                <a href="https://www.facebook.com/unusualbusinessutrecht/" class="">{% trans "Facebook" %}</a>
            </li>
        </ul>
    </div>

    <div class="l-footer-element casco-ksu-logos">
        <p class="casco-ksu-logos-text">
            <a href="http://www.cascoprojects.org" >
                <svg width="85.227px" height="28.101px" class="casco-logo"  >
                    <title>Casco logo</title>
                    <desc>Click to go to the Casco website</desc>
                    <use xlink:href="#casco-logo" />
                </svg>
            </a>
            <br>
            <a href="http://www.kritischestudenten.nl" >
                <svg width="81.591px" height="45.104px" class="ksu-logo"  >
                    <title>Kritische Studenten Utrecht (KSU) logo</title>
                    <desc>Click to go to the KSU website</desc>
                    <use xlink:href="#ksu-logo" />
                </svg>
            </a>
        </p>
    </div>

</footer>
<!--/#l-footer-->
