
<footer class="l-footer footer">

    <div class="ub-logo-footer">
        <svg width="172.645px" height="96.919px" class="ub-logo-large"  >
            <title>Unusual Business logo</title>
            <desc>Click to go home</desc>
            <use xlink:href="#ub-logo-large" />
        </svg>
    </div>

    <div class="page-links">
        <ul>
            <li><a href="#" class="">Onderzoeksoverzicht</a></li>
            <li><a href="#" class="">Activiteiten</a></li>
            <li><a href="#" class="">Groepen</a></li>
            <li><a href="#" class="">Verhalen</a></li>
            <li><a href="#" class="">Theoriën</a></li>
        </ul>
    </div>

    <div class="about-links">
        <ul>
            <li><a href="#" class="">Over (Un)usual Business</a></li>
            <li><a href="#" class="">Waarom deze website?</a></li>
            <li><a href="#" class="">Hoe werkt deze website?</a></li>
            <li><a href="#" class="">Wie zijn wij?</a></li>
            <li><a href="#" class="">Kan ik betrokken raken?</a></li>
        </ul>
    </div>

    <div class="contact-links">
        <ul>
            <li class="contact-links-search"><a href="#" class=" ">Search</a></li>
            <li><a href="#" class="">Contact</a></li>
            <li><a href="#" class="">Nieuwsbrief</a></li>
            <li><a href="#" class="">Facebook</a></li>
        </ul>
    </div>

    <div class="casco-ksu-logos">
        <svg width="85.227px" height="28.101px" class="casco-logo"  >
            <title>Casco logo</title>
            <desc>Click to go to the Casco website</desc>
            <use xlink:href="#casco-logo" />
        </svg>
        <br>
        <svg width="81.591px" height="45.104px" class="ksu-logo"  >
            <title>Kritische Studenten Utrecht (KSU) logo</title>
            <desc>Click to go to the KSU website</desc>
            <use xlink:href="#ksu-logo" />
        </svg>

    </div>

</footer>
<!--/#l-footer-->
