{% extends "article_base.html" %}
{% load static wagtailimages_tags wagtailcore_tags ub_core_tags ub_wagtailcore_tags ub_template_utils article_tags i18n %}

{% block extra_js %}
{% endblock %}

{% block extra_css %}
{% endblock %}

{% block body_class %} {% endblock %}

{% block boxed_content %}

    <ul class="l-grid">
        <li class="l-grid-sizer"></li>
        <li class="l-grid-gutter-sizer"></li>
        {% for article in articles %}
            {% if forloop.counter == 2 %}
                <li class="">
                    {# {% latest_quote %}#}
                </li>
            {% endif %}
            {% include "articles/blocks/latest_theory_article.html" with page=article %}
            {% empty %}
                <li>Sorry, no pages found.</li>
        {% endfor %}
    </ul>

{% endblock %}
