{% extends "base.html" %}
{% load static wagtailimages_tags wagtailcore_tags ub_core_tags ub_wagtailcore_tags  i18n %}

{% block extra_js %}
{% endblock %}

{% block extra_css %}
{% endblock %}

{% block body_class %}l-article-content{% endblock %}

{% block content %}
    <article class="article">

        <header class="article-header">
            <h1 class="article-header-title">
                {% if self.seo_title %}
                    {{ self.seo_title }}
                {% else %}
                    {{ self.title }}
                {% endif %}
                {% if self.subtitle %}
                    <div class="article-header-subtitle">
                        {{ self.subtitle }}
                    </div>
                {% endif %}
            </h1>

            <div class="article-header-meta">
                {% if self.format %}
                    <div class="article-header-format">
                        <svg width="32px" height="32px" class="article-format-icon {{ self.format }}-icon white-icon" >
                          <use xlink:href="#{{ self.format }}-icon" />
                        </svg>
                    </div>
                {% endif %}
                {% if self.publication_date %}
                    <div class="article-header-publication-date">
                        {{ self.publication_date|date:"j F Y" }}
                    </div>
                {% endif %}
            </div>
        </header>

        {% if self.author %}
            <a href="#" class="open-author-pane-button" >
                <label class="article-header-label">{% trans "by" %}</label>
                <span class="article-header-author-name">{{ self.author }}</span>
            </a>
            <section class="author is-visuallyhidden">
                <div class="l-boxed l-author">
                    <h3 class="is-hidden" >About</h3>
                    <div class="author-photo">
                        {% include "blocks/bio_pic.html" with image=self.author.photo image_class="bio-pic" %}
                    </div>
                    <div class="author-biography">
                        <h4 class="author-name is-hidden">
                            {{ self.author.title }}
                        </h4>
                        <p class="author-biography-text">
                            <span class="author-name-inline">
                                {{ self.author.title }}
                            </span>
                            {{ self.author.biography }}
                        </p>
                    </div>
                </div>
            </section>
        {% endif %}

        <div class="article-subheader">
            <div class="article-subheader-back-links">
                <a href="#" class="back-link">All stories</a>
            </div>
            <div class="article-subheader-social-links">
                <a href="#" class="facebook-link">
                    <svg class="facebook-icon" width="15.152px" height="32.433px" >
                        <title>Facebook icon</title>
                        <desc>Click to share on Facebook</desc>
                        <use xlink:href="#facebook-icon" />
                    </svg>
                </a>
                <a href="#" class="twitter-link">
                    <svg class="twitter-icon" width="34.198px" height="28.543px" >
                        <title>Twitter icon</title>
                        <desc>Click to share on Twitter</desc>
                        <use xlink:href="#twitter-icon" />
                    </svg>
                </a>
            </div>
        </div>

        {% if page.format == 'video' or page.format == 'audio' %}
            {% for block in page.featured %}
                {% if block.block_type == 'featured_video' or block.block_type == 'featured_audio'  %}
                    {{ block }}
                {% endif %}
            {% endfor %}
        {%  else %}
            {% for block in page.featured %}
                {{ block }}
            {% endfor %}
        {% endif %}

        {%  block tableofcontents %}
        {% endblock %}

        <div class="l-boxed">
            {% for block in page.body %}
                {% if forloop.first and block.block_type == 'introduction' %}
                    <div class="article-introduction">
                        {{ block.value.source|ub_richtext }}
                    </div>
                {% endif %}
            {% endfor %}

            <div class="article-body">

                {% for block in page.body %}

                    {% if block.block_type == 'introduction' %}
                    {% elif block.block_type == 'paragraph' %}
                        {{ block.value.source|ub_richtext }}
                    {% elif block.block_type == 'chapter' or block.block_type == 'section'  or block.block_type == 'subsection' %}
                        {{ block }}
                    {% else %}
                        <section class="block-{{ block.block_type }}" >
                            {{ block }}
                        </section>
                    {% endif %}

                {% endfor %}

            </div>
        </div>

    </article>

    {% if organizations or events %}
        <section class="in-this-story">
            <div class="l-boxed l-related-section">
                <h3 class="article-section-title" >In this story</h3>
                <div class="l-flex">
                    {% if organizations and organizations|first %}
                        <section class="related-organizations">
                            <h5 class="related-organizations-section-title" >Groups</h5>
                            <ul class="related-organization-list l-grid">
                                <li class="l-grid-sizer l-grid-sizer-full-width"></li>
                                <li class="l-grid-gutter-sizer l-grid-gutter-sizer-empty"></li>
                                {% for organization in organizations %}
                                    {% include "organizations/blocks/latest_organization.html" with page=organization list_item_classes='l-grid-item l-grid-item-full-width l-grid-item-fixed-height' %}
                                {% endfor %}
                            </ul>
                        </section>
                    {% endif %}
                    {% if events %}
                    <section class="related-events">
                        <h5 class="related-events-section-title" >Events</h5>
                        <ul class="related-events-list l-grid">
                            <li class="l-grid-sizer l-grid-sizer-full-width"></li>
                            <li class="l-grid-gutter-sizer l-grid-gutter-sizer-empty"></li>
                            {% for event in events %}
                                {% include "events/blocks/agenda_item.html" with list_item_classes='l-grid-item l-grid-item-full-width' %}
                            {% endfor %}
                        </ul>
                    </section>
                    {% endif %}
                </div>
            </div>
        </section>
    {% endif %}

{#    <section class="related-howtos">#}
{#        <div class="l-boxed l-related-section">#}
{#            <h3 class="article-section-title" >Related themes</h3>#}
{#            <ul class="l-columns">#}
{#                {% for how_to in how_tos %}#}
{#                    {% include "howtos/blocks/related_howto.html" %}#}
{#                {% endfor %}#}
{#            </ul>#}
{#        </div>#}
{#    </section>#}
{##}
{#    <section class="related-articles">#}
{#        <div class="l-boxed l-related-section">#}
{#            <h3 class="article-section-title" >See more</h3>#}
{#            <ul class="">#}
{#                {% for related_article in related_articles %}#}
{#                    {% include "articles/blocks/latest_story_article.html" with page=related_article list_item_classes="l-grid-item-full-width" %}#}
{#                {% endfor %}#}
{#            </ul>#}
{#        </div>#}
{#    </section>#}

{% endblock %}

{% block sidebarleft %}

{% endblock %}
