{% extends "articles/article_index_page_base.html" %}

{% block body_class %}theory-article-list{% endblock %}

{% block boxed_content %}

    <ul class="l-grid">
        <li class="l-grid-sizer"></li>
        <li class="l-grid-gutter-sizer"></li>
        {% for article in articles %}
            {% if forloop.counter == 2 %}
                <li class="">
                    {# {% latest_quote %}#}
                </li>
            {% endif %}
            {% include "articles/blocks/latest_theory_article.html" with page=article %}
            {% empty %}
                <li>Sorry, no pages found.</li>
        {% endfor %}
    </ul>

{% endblock %}
