{% extends "article_base.html" %}
{% load static wagtailimages_tags wagtailcore_tags  ub_wagtailcore_tags i18n %}

{% block extra_js %}
{% endblock %}

{% block extra_css %}
{% endblock %}

{% block body_class %}organization {{ block.super }}{% endblock %}

{% block extra_navbar %}
    {% include "blocks/extra-navbar.html" %}
{% endblock %}

{% block above_header %}
    {% include "events/blocks/upcoming_related_events.html" %}
{% endblock %}

{% block header %}

    <header class="l-article-header article-header">
        <h1 class="article-header-title">
            {% if self.seo_title %}
                {{ self.seo_title }}
            {% else %}
                {{ self.title }}
            {% endif %}
        </h1>

        <div class="l-article-header-meta article-header-meta">
            <div class="l-article-header-meta-left-bottom">
                <svg width="32px" height="32px" class="article-format-icon organization-icon white-icon" >
                  <use xlink:href="#organization-icon" />
                </svg>
            </div>
            <div class="l-article-header-meta-left-bottom-text">
                {% trans "Practitioner" %}
            </div>
        </div>
    </header>

{% endblock %}

{% block below_header %}
    {% include "blocks/article_subheader.html" %}
{% endblock %}

{% block featured %}
    {% if self.featured_image %}
        <div class="article-featured article-featured-image">
            {% include "blocks/responsive_image.html" with image=self.featured_image image_class="article-image"  %}
        </div>
    {%  endif %}
{% endblock %}

{% block article_body %}
    <div class="l-boxed">

        {% if self.city or self.amount_of_members or self.date_founded %}
            <section class="l-full-width organization-meta">
                {% if self.city %}
                <div class="organization-city">
                    <label class="meta-label">{% trans "located" %}</label>
                    <div class="meta-item">{{ self.city }}</div>
                </div>
                {% endif %}

                {% if self.amount_of_members %}
                <div class="organization-amount-of-members">
                    <label class="meta-label">{% trans "members" %}</label>
                    <div class="meta-item">{{ self.amount_of_members }}</div>
                </div>
                {% endif %}

                {% if self.date_founded %}
                <div class="organization-date-founded">
                    <label class="meta-label">{% trans "Founding year" %}</label>
                    <div class="meta-item">{{ page.date_founded|date:"Y" }}</div>
                </div>
                {% endif %}
            </section>
        {% endif %}

        <section class="l-pull-right article-body organization-description">
            {{ page.description }}
        </section>

        <section class="l-pull-left organization-contact-info">

            <div class="organization-name">{{ self.title }}</div>
            <div class="organization-location">
                {% if self.address %}
                    <div class="organization-address">{{ self.address }}</div>
                {% endif %}
                <div>
                    {% if self.post_code %}
                        <span class="organization-postal-code">{{ self.post_code }}</span>
                    {% endif %}
                    {% if self.city %}
                        <span class="organization-meta-city">{{ self.city }}</span>
                    {% endif %}
                </div>
                {% if self.country %}
                    <span class="organization-country">{{ self.country }}</span>
                {% endif %}
            </div>

            {% if self.email %}
                <div class="organization-email"><a href="mailto:{{ self.email }}">{{ self.email }}</a></div>
            {% endif %}

            {% if self.website %}
                <div class="organization-website">
                    <a href="{{ self.website }}" class="organization-website">{{ self.website }}</a>
                </div>
            {% endif %}

            <div class="organization-social-media">
                {% if self.facebook %}
                    <a href="{{ self.facebook }}" class="organization-facebook">facebook</a>
                {% endif %}
                {% if self.twitter and  self.facebook  %}
                    <span>|</span>
                {% endif %}
                {% if self.twitter %}
                    <a href="{{ self.twitter }}" class="organization-twitter">twitter</a>
                {% endif %}
            </div>

        </section>

        <section class="l-organization-map organization-location-map">
            <iframe
              width="100%"
              height="360"
              frameborder="0" style="border:0"
              src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAwN3OewMWFunrZb6C5RC_T3VjEcEZ9hVo
                &q={{ self.location }}" >
            </iframe>
            <div class="gmaps-disclaimer">
                Hi there commoner, we're working on a new version with the great
                <a href="http://www.openstreetmap.org/" >Open Street Maps</a>,
                for now you'll have to deal with gmaps.
            </div>
        </section>

    </div>
{% endblock %}

{% block below_article %}


    {% if related_how_tos %}

        <section class="related-howtos">
            <div class="l-boxed l-related-section">
                <h3 class="article-section-title" >{% trans "This article is part of:" %}</h3>
                <ul class="l-grid grid-packery">
                    <li class="l-grid-sizer"></li>
                    <li class="l-grid-gutter-sizer"></li>
                    {% for how_to in related_how_tos %}
                        {% include "howtos/blocks/related_howto.html" %}
                    {% endfor %}
                </ul>
            </div>
        </section>

    {% endif %}

    {% if related_story_articles %}

        <section class="related-articles">
            <div class="l-boxed l-related-section">
                <h3 class="article-section-title" >{% trans "Practitioner stories:" %}</h3>
                <ul class="l-grid grid-packery">
                    <li class="l-grid-sizer"></li>
                    <li class="l-grid-gutter-sizer"></li>
                    {% for article in related_story_articles %}
                        {% include "articles/blocks/latest_story_article.html" with page=article list_item_classes='l-grid-item-full-width' %}
                    {% endfor %}
                </ul>
            </div>
        </section>

    {% endif %}

{% endblock %}

