/* ==|====================
   States
   ======================= */

@import "../base/base";

.is-hidden {
  display: none;
}

.is-visuallyhidden {
  opacity: 0;
  overflow: hidden;
  position: absolute;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}


// Author

.is-author-clicked {
  min-height: 272px;
  top: 0
}
