.home {

  h1 {
    display: none;
  }

  .sidebar-left,
  .sidebar-right {
    display: none;
  }

  .feature {
    @include outer-container;
    padding: 14px 0;
  }

  .featured-article {
    @include span-columns(14);
  }

  .date {
    @include span-columns(1 of 14);
    display: flex;
    align-items: stretch;
  }

  .preview {
    @include span-columns(13 of 14);
    position: relative;
  }

  .article-preview-title-wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .article-preview-title {
    padding: 20px;
    width: 40%;
    background-color: $ub-yellow;
  }

  .article-preview-image {
    width: 100%;
  }

  .agenda {
    @include span-columns(2);
  }

}
