{% extends "article_base.html" %}
{% load static wagtailimages_tags wagtailcore_tags  ub_wagtailcore_tags  i18n %}


{% block extra_js %}
{% endblock %}

{% block extra_css %}
{% endblock %}

{% block body_class %}about{% endblock %}

{% block article_body %}

    <div class="l-boxed">

        {% if page.introduction %}
            <div class="article-introduction" id="introduction">
                {{ page.introduction|ub_richtext }}
            </div>
        {% endif %}

        <section class="l-pull-right article-body">

            {% for block in page.body %}

                {% if block.block_type == 'introduction' %}
                {% elif block.block_type == 'paragraph' %}
                    {{ block.value.source|ub_richtext }}
                {% elif block.block_type == 'image' %}
                    <section class="block-{{ block.block_type }}" >
                        {{ block }}
                        <p class="image-description"> {{ block.value }}</p>
                    </section>
                {% elif block.block_type == 'chapter' or block.block_type == 'section'  or block.block_type == 'subsection' %}
                    {{ block }}
                {% else %}
                    <section class="block-{{ block.block_type }}" >
                        {{ block }}
                    </section>
                {% endif %}

            {% endfor %}

        </section>

    </div>

{% endblock %}
