/* ==|====================
   Layout/Grid
   ======================= */

@import "../base/base";
@import "../base/mixins";

.l-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.l-content {
  position: relative;
  margin: 0 $gutter;
  padding-top: 85px; //78px;
    // .footer height + .main-nav height
  min-height: calc(100vh - (50px + 85px)); //78px

  @media(max-width: $tablet) {
    margin: 0;
    padding-top: 44px;

    // .footer height + .main-nav (mobile) height
    min-height: calc(100vh - (50px + 44px));
  }

  .l-article-content & {
    margin: 0;
  }
}

.l-boxed {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: $boxed;

  @media(max-width: $tablet) {
    box-sizing: border-box;
    padding: 0 $gutter;
  }
}

.l-body-article-pull-left {
  position: relative;
  margin: $gutter 0;
  left: -333px;

  @media(max-width: $boxed) {
    left: inherit;
  }
}

.l-flex {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;

  @media(max-width: $tablet) {
    flex-flow: row wrap;
  }
}

.l-full-width {
  display: flex;
  flex-flow: row wrap;

  box-sizing: border-box;
  margin: $gutter 0;
  padding: $gutter;
  width: 100%;

  @media(max-width: $tablet-horizontal) {
    padding-top: 0;
  }

  @media(max-width: $tablet) {
    padding: 0;
  }
}

.l-pull-right {
  box-sizing: border-box;
  margin: 0 0 0 auto !important;
  padding: $gutter;
  width: 100%;
  max-width: $tablet;

  @media(max-width: $tablet-horizontal) {
    padding-top: 0;
  }

  @media(max-width: $tablet) {
    padding: 0;
  }
}

.l-pull-left {
  box-sizing: border-box;
  margin: 0 auto 0 0;
  padding: $gutter;
  width: 100%;
  max-width: $tablet;

  @media(max-width: $tablet-horizontal) {
    padding-top: 0;
  }

  @media(max-width: $tablet) {
    padding: 0;
  }
}
