/* ==|====================
   Layout/Feature
   ======================= */

@import "../base/base";

.l-feature {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  overflow: hidden;
  padding-top: 2px;
  margin: 0 80px;

  @media (max-width: $tablet) {
    margin: inherit;
    padding-top: 0;
  }

  .unslider {
    width: 100%;
  }
}

.l-featured-articles {
  width: 100%;
}
