/* ==|====================
   Layout/Featured Snippets
   ======================= */

@import "../base/base";

.l-featured-snippets {
  display: flex;
  flex-flow: row nowrap;
  margin: $gutter 70px;

  @media (max-width: $tablet-horizontal) {
    flex-flow: row wrap;
    margin: 0 $gutter;
  }

  @media (max-width: $mobile) {
    flex-direction: column;
    margin: 0 $gutter $gutter * 2 $gutter;
  }
}

.l-featured-journal {
  margin-right: $gutter * 2;
  width: 215px;
  height: 300px;
  overflow: hidden;

  @media (max-width: $tablet-horizontal) {
    margin-top: $gutter;
  }

  @media (max-width: $mobile) {
    order: 1;
    align-self: center;
    margin-right: 0;
  }
}

.l-featured-welcome-message {
  border-left: solid 1px $light-gray;
  padding: 0 $gutter * 2;
  max-width: 480px;

  @media (max-width: $tablet-horizontal) {
    flex: 1;
    border-left: none;
    //width: calc(100% - 215px - 76px)
    padding: $gutter 0;
  }

  @media (max-width: $mobile) {
    order: 0;
    padding-bottom: 0;
  }
}

.l-featured-links {
  margin: 0 auto;
  width: 293px;
  height: 300px;

  @media (max-width: $tablet-horizontal) {
    width: 100%;
    height: auto;
  }
}
