/* ==|====================
   Layout/Feature
   ======================= */

@import "../base/base";

.l-feature {
  display: flex;
  align-items: stretch;
  justify-content: space-between;

  padding-top: 2px;

  @media (max-width: $tablet) {
    padding-top: 0;
  }

  .unslider {
    width: 100%;
  }
}

.l-featured-articles {
  width: 100%;
}

.l-featured-agenda {
  padding-top: $gutter / 2;
  margin-left: $gutter;
  width: 240px;
}
