/* ==|====================
   Module/Grid
   ======================= */

@import "../base/base";

.l-grid {

  @media(max-width: $tablet) {
    margin: 0 $gutter;
  }

  @media(max-width: $mobile) {
    margin: 0;
  }
}

.l-grid-gutter-sizer {
  width: 2%;

  @media(max-width: $desktop) {
    width: 40px;
  }

  @media(max-width: $tablet) {
    width: 0;
  }
}

.l-grid-sizer,
.l-grid-item {
  width: calc(32%);

  @media(max-width: $desktop) {
    width: calc(50% - 20px);
  }

  @media(max-width: $tablet) {
    width: 100%;
  }
}

.l-grid-item {
  margin-bottom: 2%;

  @media(max-width: $desktop) {
    margin-bottom: 40px;
  }

  @media(max-width: $tablet) {
    margin-bottom: 40px;
  }
}

.l-grid-item-double-width {
  width: calc(66%);

  @media(max-width: $desktop) {
    width: 100%;
  }
}

.l-grid-item-fixed-height {
  height: 73px;
}
