/* ==|====================
   Module/Grid
   ======================= */

@import "../base/base";

.l-grid {

  @media(max-width: $tablet) {
    margin: 0 $gutter;
  }

  @media(max-width: $mobile) {
    margin: 0;
  }
}

.l-grid-gutter-sizer {
  width: 2%;

  @media(max-width: $desktop) {
    width: 40px;
  }

  @media(max-width: $tablet) {
    width: 0;
  }
}

.l-grid-gutter-sizer-empty {
  width: auto;
}

.l-grid-sizer,
.l-grid-item {
  width: calc(32%);

  @media(max-width: $desktop) {
    width: calc(50% - 20px);
  }

  @media(max-width: $tablet) {
    width: 100%;
  }
}

.l-grid-item {
  margin-bottom: 2%;
  opacity: 0; /* hide by default */

  @media(max-width: $desktop) {
    margin-bottom: 40px;
  }

  @media(max-width: $tablet) {
    margin-bottom: 0;
  }

  .is-showing-items & {
    opacity: 1; /* reveal when ready */
  }
}

.l-grid-item-one-third {
  margin-bottom: 0;
  width: calc((100% - 2% * 2) / 3); // (width - 2 * sizer) / 3 elements

  @media(max-width: $desktop) {
    width: calc((100% - 2% * 2) / 2); // (width - 2 * sizer) / 2 elements
  }

  @media(max-width: $tablet-horizontal) {
    width: 100%;
  }
}

.l-grid-item-one-third-minus-gutter {
  @media(max-width: $tablet) {
    width: calc((100% - var(--gutter) * 2));
  }
}

.l-grid-item-packery-full-witdh {
  margin-bottom: 0;
  width: calc((100% - 2% * 2) / 3); // (width - 2 * sizer) / 3 elements

  @media(max-width: $desktop) {
    width: calc((100% - 2% * 2) / 2); // (width - 2 * sizer) / 2 elements
  }

  @media(max-width: $tablet-horizontal) {
    width: 100%;
  }
}

.l-grid-item-double-width {
  width: calc(66%);

  @media(max-width: $desktop) {
    width: 100%;
  }
}

.l-grid-item-full-width {
  width: 100% !important;
}

.l-grid-item-half-width {
  width: calc(48%);

  @media(max-width: $tablet-horizontal) {
    width: 100%;
  }
}

.l-grid-item-fifty-percent {
  margin-bottom: 2%;
  width: 49%;

  @media(max-width: $tablet) {
    width: 100%;
  }

  .is-showing-items & {
    opacity: 1; /* reveal when ready */
  }
}

.l-grid-item-fixed-height {
  min-height: 73px;

  @media(max-width: $mobile) {
    height: auto;
  }
}

.l-grid-item-fixed-height-big {
  height: 114px;

  @media(max-width: $mobile) {
    height: auto;
  }
}
