/* ==|====================
   Layout/Header
   ======================= */

@import "../base/base";
@import "../base/mixins";

.l-header {
  position: fixed;
  top: 0;
  bottom: auto;
  left: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-content: space-between;
  align-items: center;

  margin: 0;
  padding: 0 $gutter;
  width: calc(100% - (var(--gutter) * 2));

  @media(max-width: $tablet) {
    margin: 0;
    padding: 0;
    width: 100%;
    border-bottom: none;
  }

  .home & {
    border-bottom: solid 2px $light-gray;
  }
}
