{% load static wagtailcore_tags i18n article_tags ub_tags %}

<section class="l-related-events">
    {% if upcoming_event %}
        <div class="l-related-events-title-wrapper" >
            <h3 class="related-events-title" >Upcoming</h3>
        </div>
        <div class="l-home-related-events">
            <div class="related-events-list">
                {% include "events/blocks/latest_event.html" with event=upcoming_event list_item_classes='' %}
            </div>
        </div>
    {% endif %}
    <div class="l-home-get-updated">
        <a href="{% slugurl 'activity' %}" class="home-get-updated-link start-animation-on-hover" >
            <div class="icon-wrapper">
                <svg width="40px" height="40px" class="white-icon" >
                  <use xlink:href="#event-icon" />
                </svg>
            </div>
            <div class="home-get-updated-text">
                Get updated on activity, <br>
                meet people, get involved
            </div>
        </a>
    </div>
</section>
