/* ==|====================
   Module/Inline Organization
   ======================= */

@import "../base/base";
@import "../base/mixins";

.l-pull-left {
  position: relative;
  margin: $gutter 0;
  left: -333px;
}

.article-inline {
  display: block;
  border-top: solid 8px $black;
  padding: $gutter $gutter / 2 $gutter 50px;
  width: 85%;

  background-color: $white;

  transition: all .5s cubic-bezier(0.22, 0.61, 0.36, 1);
}


.article-inline-title {
  display: block;
  padding-bottom: $gutter;
  width: 100%;
  font-size: 18px;
}

.article-inline-image {
  flex: 1;
}

.article-inline-text {
  font-family: $open-sans;
  font-size: 16px;
  line-height: 1.5em;
}

// Organization
.article-inline-organization {
  border-top-color: $black;
  color: $black;
}

article-inline-organization-title {
}


.article-inline-organization-text {
  display: flex;
}

.article-inline-organization-image {
  flex: 1;
  width: 270px;
  height: auto;
}

.article-inline-organization-description {
  flex: 2;
  padding: $gutter / 2 0 $gutter $gutter;
}


// Definition
.article-inline-definition {
  border-top-color: $green;
  color: $green;
}

.article-inline-definition-title {
}

.article-inline-definition-text {

}


// Event
.article-inline-event {
  border-top-color: $blue;
  color: $blue;
}

.article-inline-event-title {
}

.article-inline-event-text {

}
