/* ==|====================
   Module/Article
   ======================= */

@import "../base/base";

.article {

}

.article-header {
  z-index: 10;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  box-sizing: border-box;

  padding: $gutter;
  min-height: 380px;

  color: $white;

  @media(max-width: $tablet) {
    height: auto;
    min-height: inherit;
  }

  .report-article & {
    background-color: $blue;
  }

  .theory-article & {
    background-color: $green;
  }

  .story-article & {
    background-color: $yellow;
  }
}

.article-header-title {
  margin: auto;
  max-width: 70%;

  text-align: center;
  font-weight: 400;
  font-size: 50px;
  line-height: 62px;

  @media(max-width: $tablet) {
    margin-top:0;
    max-width: inherit;
    font-size: 9vw;
    line-height: 1.4em;
  }
}

.article-header-subtitle {
  font-size: 50px;
  font-style: italic;

  @media(max-width: $tablet) {
    padding-top: 5px;
    font-size: 7vw;
    line-height: 1.5em;
  }
}

.article-header-image {
  display: none;
}

.article-header-meta {
  position: relative;
  margin: $gutter 0 0;
  width: 100%;

  text-align: center;
  font-family: $open-sans;
  font-weight: 400;
  font-size: 16px;

  @media(max-width: $tablet) {
    padding-top: 5px;
  }
}

.article-header-format {
  position: absolute;
  left: 0;
  bottom: -10px;
}

.article-header-publication-date {
  position: absolute;
  left: 50px;
  bottom: 0;
}

.open-author-pane-button {
  z-index: 100;
  display: block;
  position: relative;
  box-sizing: border-box;

  margin: -80px auto 0;
  padding-top: 22px;
  height: 80px;
  width: 100%;
  transition: all 200ms ease-in-out;

  font-family: $open-sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  text-decoration: none;
  text-align: center;
  color: $white;

  @media(max-width: $tablet) {
    margin-top: 0;
    background-color: $white;
    color: $light-grayish;

    margin-bottom: $gutter;
    border-bottom: solid 1px $light-gray;
    padding-bottom: $gutter;
  }

  &:after {
    @include sprite(chevron-white-icon);
    transition: all 500ms ease-in-out;
    content: '';
    transform: rotate(90deg);
    margin-left: 10px;
    vertical-align: middle;
    padding-bottom: 2px;
    font-size: 18px;

    @media(max-width: $tablet) {
      position: absolute;
      right: 34px;
      top: 30px;
      @include sprite(chevron-gray-icon);
    }

    &:hover {
      transform: translateY(2px);
    }
  }

  &.is-opened-button  {

    @media(max-width: $tablet) {
      margin-bottom: 0;
      border-bottom: 0;
    }

    &:after {
      transform: rotate(-90deg);
      vertical-align: text-top;
    }
  }
}

.article-subheader {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 0;
  padding: $gutter $gutter * 2;


  @media(max-width: $tablet) {
    display: none;
  }
}

.article-featured-image {
  margin: 0 120px $gutter * 2;
  text-align: center;
  transition: all 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);

  @media(max-width: $desktop) {
    margin-left: $gutter;
    margin-right: $gutter;
    width: calc(100% - var(--gutter) * 2);
    max-width: $desktop
  }

  @media(max-width: $tablet-horizontal) {
    margin-bottom: $gutter;
  }

  @media(max-width: $tablet) {
    margin: 0;
    width: 100%;
    max-width: inherit;
  }
}

.article-image {
  object-fit: cover;
  width: 100%;
  max-height: 370px;
}

.back-link {
  display: block;
  font-family: $open-sans;
  font-weight: bold;
  font-size: 14px;

  text-decoration: none;

  &:before {
    content: '';
    padding-right: $gutter / 2;
    vertical-align: bottom;
    @include sprite(back-icon);
  }
}

.facebook-link,
.twitter-link {
  padding-left: 10px;
  text-decoration: none;
}

.article-introduction {
  padding: 0 $gutter;

  font-size: 26px;
  line-height: 1.6em;

  .report-article & {
    color: $blue;
  }

  .theory-article & {
    color: $green;
  }

  .story-article & {
    color: $yellow;
  }

  .organization & {
    color: $black;
  }

  @media(max-width: $boxed) {
    box-sizing: border-box;
    margin: 0 0 0 auto;
    padding: 0 $gutter;
    width: 100%;
    max-width: $tablet;
  }

  @media(max-width: $tablet) {
    padding: 0;
    font-size: 5vw;
  }
}

.article-content-header-text {
  font-size: 24px;
  line-height: 1.3em;
}

.article-body {
  box-sizing: border-box;
  margin: 0 0 0 auto;
  padding: $gutter;
  width: 100%;
  max-width: $tablet;

  font-size: 18px;
  font-weight: 300;
  line-height: 32px;

  @media(max-width: $tablet-horizontal) {
    padding-top: 0;
  }

  @media(max-width: $tablet) {
    padding: 0;
  }

  p {
    position: relative;
  }
}

.article-link {
  font-weight: 400;
  text-decoration: none;

  &:hover {
    border-bottom: 2px solid;
    padding-bottom: 3px;
  }

  &.article-link-event,
  &.article-link-reportarticle {
    color: $blue;

    &:hover {
      border-bottom-color: $blue;
    }
  }

  &.article-link-organization {
    color: $black;
    &:hover {
      border-bottom-color: $black;
    }
  }

  &.article-link-definition,
  &.article-link-theoryarticle {
    color: $green;

    &:hover {
      border-bottom-color: $green;
    }
  }

  &.article-link-storyarticle {
    color: $yellow;

    &:hover {
      border-bottom-color: $yellow;
    }
  }
}

.article-inline-link {
  font-weight: 400;
  text-decoration: none;

  &:after {
    @include sprite(eye-icon);
    content: '';
    margin-left: 7px;
    vertical-align: top;
  }

  &.article-inline-link-event {
    color: $blue;
  }

  &.article-inline-link-organization {
    color: $black;
  }

  &.article-inline-link-definition,
  &.article-inline-link-theory {
    color: $green;
  }

  &.article-inline-link-story {
    color: $yellow;
  }
}

.article-body ul,
.article-body ol {
  margin: $gutter 0;
}

.article-body li {
  margin: $gutter 0;

  font-size: 28px;
  line-height: 1.5em;
  font-family: $open-sans;

  @media(max-width: $tablet) {
    margin: $gutter / 2 0;
    font-size: 5vw;
  }
}

.article-body ul li {
  margin-left: 100px;

  &:before {
    display: block;
    margin: 0 0 $gutter -100px;
    height: 8px;
    width: 163px;
    content: ' ';
    background-color: $yellow;
  }

  @media(max-width: $tablet) {
    margin-left: $gutter;

    &:before {
      margin: 0 0 $gutter / 2 calc(-1* var(--gutter));
    }
  }
}

.article-body ol li {
  margin-left: 60px;

  &:before {
    display: block;
    margin: 0 0 -8px -100px;
    padding-top: $gutter;
    height: 8px;
    width: 163px;
    content: ' ';
    border-top: solid $yellow 8px;
  }

  @media(max-width: $tablet) {
    margin-left: 0;

    &:before {
      margin-left: 0;
      padding-top: $gutter / 2;
    }
  }
}

.rich-text img {
  max-width: 100%;
  height: auto;
}

.block-image {
  border-top: solid $yellow 8px;

  @media(max-width: $tablet) {
    margin: 0 calc(-1 * var(--gutter));
  }
}

.block-pullquote {
  @media(max-width: $tablet) {
    margin: 0 calc(-1 * var(--gutter));
  }
}

.pullquote {
  display: block;
  box-sizing: border-box;
  border-left: solid 10px $yellow;
  border-right: solid 10px $yellow;
  margin: $gutter * 2 0;
  padding: $gutter $gutter * 2;
  width: 90%;

  background-color: $white;

  transition: all .5s cubic-bezier(0.22, 0.61, 0.36, 1);

  font-size: 34px;
  line-height: 43px;
  font-family: $open-sans;
  text-align: center;

  @media(max-width: $boxed) {
    width: 100%;
  }

  @media(max-width: $tablet) {
    margin: $gutter;
    border-left: none;
    border-right: none;
    border-top: solid 8px $yellow;
    border-bottom: solid 8px $yellow;

    padding: $gutter 0;
    width: inherit;

    font-size: 7vw;
    line-height: 1.3em;
  }

  .report-article & {
    color: $blue;
  }

  .theory-article & {
    color: $green;
  }

  .story-article & {
    color: $yellow;
  }

  .organization & {
    color: $black;
  }
}

.responsive-object {
  position: relative;

  @media(max-width: $tablet) {
    margin: 0 calc(-1 * var(--gutter));
  }
}

.responsive-object iframe,
.responsive-object object,
.responsive-object embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.article-section-title {
  margin-bottom: $gutter;
  font-size: 32px;
  font-family: $merriweather;
  color: $black;
}

// In this story

.in-this-story {
  border-top: solid 2px $light-gray;
}

// Related Organizations

.related-organizations {
  padding: 0 $gutter;
  width: 50%;

  @media(max-width: $tablet) {
    padding: 0;
    width: 100%;
  }
}

.related-organizations-section-title {
  padding-bottom: $gutter;

  font-family: $open-sans;
  font-weight: bold;
  font-size: 24px;

  @media(max-width: $tablet) {
    padding: $gutter;
  }
}

.related-organization-list {
}


// Related Events

.related-events {
  padding: 0 $gutter;
  width: 50%;

  @media(max-width: $tablet) {
    padding: 0;
    width: 100%;
  }
}

.related-events-section-title {
  padding-bottom: $gutter;

  font-family: $open-sans;
  font-weight: bold;
  font-size: 24px;
  color: $blue;

  @media(max-width: $tablet) {
    padding: $gutter;
  }
}

.related-events-list {
}

// Related Howto's
.related-howtos {
  background-color: $light-gray;
}

.l-related-section {
  box-sizing: border-box;
  padding: $gutter * 2 $gutter;

  @media(max-width: $tablet) {
    flex-wrap: wrap;
    padding: $gutter;
  }
}

// Related Articles

.related-articles {
  background-color: $white;
}
