/* ==|====================
   Module/Article
   ======================= */

@import "../base/base";

.article {

}

.article-subheader {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 0;
  padding: $gutter;

  transition: all 300ms ease-in-out;

  @media(max-width: $tablet) {
    display: none;
  }
}

.article-featured {
  margin: 0 120px $gutter * 2;
  transition: all 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);

  text-align: center;

  @media(max-width: $desktop) {
    margin-left: $gutter;
    margin-right: $gutter;
    width: calc(100% - var(--gutter) * 2);
    max-width: $desktop
  }

  @media(max-width: $tablet-horizontal) {
    margin-bottom: $gutter;
  }

  @media(max-width: $tablet) {
    margin: 0;
    width: 100%;
    max-width: inherit;
  }
}

.article-featured-video {
  margin: 0 auto $gutter * 2;
  max-width: $boxed;

  transition: all 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);

  text-align: center;

  @media(max-width: $desktop) {
    width: calc(100% - var(--gutter) * 2);
  }

  @media(max-width: $tablet-horizontal) {
    margin-left: $gutter;
    margin-right: $gutter;
    margin-bottom: $gutter;
  }
}

.article-featured-audio {
  margin: 0 auto;
  padding: 0 $gutter $gutter;
  max-width: $boxed;

  .responsive-object {
    height: 100%;
  }
}

.article-featured-image,
.article-featured-audio {
  height: 360px;
  @media(max-width: $tablet) {
    height: inherit;
  }
}

.article-featured-audio .responsive-object,
.article-featured-video .responsive-object {
  @media(max-width: $tablet) {
    margin: 0;
  }
}

.responsive-object {
  position: relative;

  @media(max-width: $tablet) {
    margin: 0 calc(-1 * var(--gutter));
  }
}

.responsive-object iframe,
.responsive-object object,
.responsive-object embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.article-image {
  object-fit: cover;
  width: 100%;
  max-height: 360px;
}

.back-link {
  display: block;
  font-family: $open-sans;
  font-weight: bold;
  font-size: 14px;

  text-decoration: none;

  &:before {
    content: '';
    padding-right: $gutter / 2;
    vertical-align: bottom;
    @include sprite(back-icon);
  }
}

.facebook-link,
.twitter-link {
  padding-left: 10px;
  text-decoration: none;
}

.article-introduction {
  margin-right: 150px;

  padding: 0 $gutter;

  font-size: 26px;
  line-height: 1.6em;

  .news-article & {
    color: $blue;
  }

  .theory-article & {
    color: $green;
  }

  .story-article & {
    color: $yellow;
  }

  .organization & {
    color: $black;
  }

  @media(max-width: $boxed) {
    box-sizing: border-box;
    margin: 0 0 0 auto;
    padding: 0 $gutter;
    width: 100%;
    max-width: $tablet;
  }

  @media(max-width: $tablet) {
    padding: 0;
    font-size: 5vw;
  }
}

.article-content-header-text {
  font-size: 24px;
  line-height: 1.3em;
}

.article-body {
  font-size: 18px;
  font-weight: 300;
  line-height: 32px;

  p {
    position: relative;
  }
}

.article-link {
  font-weight: 400;
  text-decoration: none;

  &:hover {
    border-bottom: 2px solid;
    padding-bottom: 3px;
  }

  &.article-link-event,
  &.article-link-newsarticle {
    color: $blue;

    &:hover {
      border-bottom-color: $blue;
    }
  }

  &.article-link-organization {
    color: $black;
    &:hover {
      border-bottom-color: $black;
    }
  }

  &.article-link-definition,
  &.article-link-theoryarticle {
    color: $green;

    &:hover {
      border-bottom-color: $green;
    }
  }

  &.article-link-storyarticle {
    color: $yellow;

    &:hover {
      border-bottom-color: $yellow;
    }
  }
}

.external-link {
  font-weight: 400;
  text-decoration: none;

  &:after {
    @include sprite(external-link-icon);
    content: '';
    margin-left: 6px;
  }
}


.article-inline-link {
  font-weight: 400;
  text-decoration: none;

  &:after {
    @include sprite(eye-icon);
    content: '';
    margin-left: 7px;
    vertical-align: top;
  }

  &.article-inline-link-event,
  &.article-inline-link-newsarticle {
    color: $blue;
  }

  &.article-inline-link-organization {
    color: $black;
  }

  &.article-inline-link-definition,
  &.article-inline-link-theoryarticle {
    color: $green;
  }

  &.article-inline-link-storyarticle {
    color: $yellow;
  }
}

.article-footnote-link {
  &:after {
    @include sprite(eye-icon);
    content: '';
    margin-left: 7px;
    vertical-align: top;
  }
}

.article-body ul,
.article-body ol {
  margin: $gutter 0;
}

.article-body li {
  margin: $gutter 0;

  font-size: 28px;
  line-height: 1.5em;
  font-family: $open-sans;

  @media(max-width: $tablet) {
    margin: $gutter / 2 0;
    font-size: 5vw;
  }
}

.article-body ul li {
  margin-left: 100px;

  &:before {
    display: block;
    margin: 0 0 $gutter -100px;
    height: 8px;
    width: 163px;
    content: ' ';
    background-color: $yellow;
  }

  @media(max-width: $tablet) {
    margin-left: $gutter;

    &:before {
      margin: 0 0 $gutter / 2 calc(-1* var(--gutter));
    }
  }
}

.article-body ol li {
  margin-left: 60px;

  &:before {
    display: block;
    margin: 0 0 -8px -100px;
    padding-top: $gutter;
    height: 8px;
    width: 163px;
    content: ' ';
    border-top: solid $yellow 8px;
  }

  @media(max-width: $tablet) {
    margin-left: 0;

    &:before {
      margin-left: 0;
      padding-top: $gutter / 2;
    }
  }
}

.rich-text img {
  max-width: 100%;
  height: auto;
}

.block-image {
  margin: $gutter 0 $gutter -332px;

  @media(max-width: $boxed) {
    margin: $gutter 0;
  }


  @media(max-width: $tablet) {
    margin: 0 calc(-1 * var(--gutter));
  }
}

.image-description {
  padding: 0 $gutter $gutter / 2;
  max-width: 50%;

  font-family: $open-sans;
  font-size: 14px;
  line-height: 22px;
}

.block-pullquote {
  @media(max-width: $tablet) {
    margin: 0 calc(-1 * var(--gutter));
  }
}


.pullquote {
  display: block;
  box-sizing: border-box;
  border-left: solid 8px $yellow;
  border-right: solid 8px $yellow;
  margin: $gutter * 2 0;
  padding: $gutter $gutter * 2;
  width: 90%;

  background-color: $white;

  transition: all .5s cubic-bezier(0.22, 0.61, 0.36, 1);

  font-size: 34px;
  line-height: 43px;
  font-family: $open-sans;
  text-align: center;

  @media(max-width: $boxed) {
    width: 100%;
  }

  @media(max-width: $tablet) {
    margin: $gutter;
    border-left: none;
    border-right: none;
    border-top: solid 8px $yellow;
    border-bottom: solid 8px $yellow;

    padding: $gutter 0;
    width: inherit;

    font-size: 7vw;
    line-height: 1.3em;
  }

  .news-article & {
    color: $blue;
  }

  .theory-article & {
    color: $green;
  }

  .story-article & {
    color: $yellow;
  }

  .organization & {
    color: $black;
  }
}

.article-section-title {
  margin-bottom: $gutter;
  font-size: 20px;
  font-family: $merriweather;
  font-weight: 300;
  color: $black;
}

// In this story

.in-this-story {
  border-top: solid 2px $light-gray;
}

// Related Organizations

.related-organizations {
  padding: 0 $gutter;
  width: 50%;

  @media(max-width: $tablet) {
    padding: 0;
    width: 100%;
  }
}

.related-organizations-section-title {
  padding-bottom: $gutter;

  font-family: $open-sans;
  font-weight: bold;
  font-size: 24px;

  @media(max-width: $tablet) {
    padding: $gutter;
  }
}

.related-organization-list {
}

// Related Howto's
.related-howtos {
  margin: 0 $gutter;
  border-top: solid 1px $light-gray;
}

.l-related-section {
  box-sizing: border-box;
  padding: $gutter 0;

  @media(max-width: $tablet) {
    flex-wrap: wrap;
  }
}

// Related Articles
.related-articles {
  margin: 0 $gutter;
  border-top: solid 1px $light-gray;
}

// Related Events
.related-event {
  margin: 0 $gutter;
  border-top: solid 1px $light-gray;

  @media(max-width: $tablet-horizontal) {
    min-height: 0;
  }

  .featured-event-image {
    display: inherit;

    @media(max-width: $tablet) {
      display: none;
    }
  }

  .featured-agenda-item .p-name {
    padding-right: $gutter / 2;
  }
}
