/* ==|====================
   Module/Table of Contents
   ======================= */

@import "../base/base";

.toc-wrapper {
  position: relative;
  z-index: 1;

  // boxed + 80 + 34
  @media(max-width: $tablet-horizontal) {
    display: none;
  }
}

.toggle-toc-link {
  z-index: 20;
  position: absolute;
  top: 5px;
  left: $gutter;
  display: block;
  box-sizing: border-box;
  padding-top: 29px;

  animation-duration: .3s;
  transition: all .3s ease-in-out;
  background-color: $light-gray;

  &.is-panel-open {
    left: 0;
    padding-right: $gutter;
    width: 300px;

    border-radius: inherit;
    text-align: right;
  }
}

.article-table-of-contents.is-closed .toc-list {
  display: none;
}

.article-table-of-contents {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;

  transition: all .3s ease-in-out;
  background-color: $light-gray;

  &.is-closed {
    background-color: transparent;
  }

  > .toc-list {
    margin-top: 80px;
    animation-duration: .3s;

    .toc-list {
      margin-top: 10px;
      margin-left: 8px;
    }

    > li {
      box-sizing: border-box;
      padding: 10px $gutter;
      width: 300px;

      transition: all .5s ease-in-out;

      &:last-of-type {
        margin-bottom: 40px;
        border-bottom: none;
      }

      &.toc-section {
        padding-left: $gutter + 5px;
      }

      &.toc-subsection {
        padding-left: $gutter + 10px;
      }
    }
  }
}

.sticky-wrapper {
  position: absolute;
}

.toc-link {
  display: inline-block;
  border-bottom: solid 3px transparent;
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  font-size: 14px;
  font-family: $open-sans;
  text-decoration: none;

  &:hover,
  &:active,
  &.active {
    border-bottom: solid 3px $green;
  }
}

.toc-chapter {

}

.toc-section {

}

.toc-subsection {

}

:target:before {
  content:"";
  display:block;
  height:78px + 20px; /* fixed header height*/
  margin:-78px - 20px 0 0; /* negative fixed header height */

  @media(max-width: $tablet) {
    height:44px + 20px; /* fixed header height*/
    margin:-44px - 20px 0 0; /* negative fixed header height */
  }
}
