/* ==|====================
   Module/Article
   ======================= */

@import "../base/base";

.article {
  border: solid 1px $light-gray;
}

.article-header {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: $gutter;
  margin-bottom: $gutter;
  padding: $gutter;
  background-color: $white;

  @media(max-width: $tablet) {
    display: flex;
    border-bottom: none;
    margin-top: 0;
    padding: 0;
    height: 44px;
    background-color: $white;
  }
}

.article-header-title {

}

.article-header-subtitle {

}

.article-header-image {
  display: none;
}

.article-header-summary {

  font-size: 34px;
  line-height: 1.4em;

  .yellow & {
    color: $yellow;
  }

  .blue & {
    color: $blue;
  }

  .black & {
    color: $black;
  }

  .green & {
    color: $green;
  }
}


.article-content-header-text {
  font-size: 24px;
  line-height: 1.3em;
}

.article-body {
  box-sizing: border-box;
  margin: 0 0 0 auto;
  padding: 0 $gutter;
  width: 100%;
  max-width: $tablet;

  font-size: 18px;
  font-weight: 300;
  line-height: 32px;

  p {
    position: relative;
  }
}

.article-link {
  font-weight: 400;
  text-decoration: none;

  &:hover {
    border-bottom: 2px solid;
    padding-bottom: 3px;
  }
  //
  //&.article-inline-link-event:hover {
  //  border-bottom-color: $blue;
  //}
  //
  //&.article-inline-link-organization:hover {
  //  border-bottom-color: $black;
  //}
  //
  //&.article-inline-link-definition:hover,
  //.article-inline-link-theory:hover {
  //  border-bottom-color: $green;
  //}
  //
  //&.article-inline-link-story:hover {
  //  border-bottom-color: $yellow;
  //}

  &.article-link-event,
  &.article-link-reportarticle {
    color: $blue;

    &:hover {
      border-bottom-color: $blue;
    }
  }

  &.article-link-organization {
    color: $black;
    &:hover {
      border-bottom-color: $black;
    }
  }

  &.article-link-definition,
  &.article-link-theoryarticle {
    color: $green;

    &:hover {
      border-bottom-color: $green;
    }
  }

  &.article-link-storyarticle {
    color: $yellow;

    &:hover {
      border-bottom-color: $yellow;
    }
  }
}

.article-inline-link {
  font-weight: 400;
  text-decoration: none;

  &:after {
    @include sprite(eye-icon);
    content: '';
    margin-left: 7px;
    vertical-align: top;
  }

  &.article-inline-link-event {
    color: $blue;
  }

  &.article-inline-link-organization {
    color: $black;
  }

  &.article-inline-link-definition,
  &.article-inline-link-theory {
    color: $green;
  }

  &.article-inline-link-story {
    color: $yellow;
  }
}

.article ul,
.article ol {
  margin: $gutter 0;
}

.article li {
  margin: $gutter 0;

  font-size: 28px;
  line-height: 1.5em;
  font-family: $open-sans;
}

.article ul li {
  margin-left: 100px;

  &:before {
    display: block;
    margin: 0 0 $gutter -100px;
    height: 8px;
    width: 163px;
    content: ' ';
    background-color: $yellow;
  }
}

.article ol li {
  margin-left: 60px;

  &:before {
    display: block;
    margin: 0 0 -8px -100px;
    padding-top: $gutter;
    height: 8px;
    width: 163px;
    content: ' ';
    border-top: solid $yellow 8px;
  }
}

