/* ==|====================
   Module/Author
   ======================= */

@import "../base/base";

.author {
  background-color: $verylight-gray;
}

.l-author {
  display: flex;
  align-items: flex-start;
  flex-flow: column nowrap;
  box-sizing: border-box;
  padding: $gutter * 2 $gutter;

  @media(max-width: $tablet) {
    flex-wrap: wrap;
    padding: $gutter;
  }
}

.author-photo {
  padding: $gutter;
  width: 140px;
  text-align: center;

  @media(max-width: $tablet) {
    width: 100%;
  }
}

.bio-pic {
  border-radius: 70px;
  width: 140px;
  max-width: inherit;
  height: 140px;
}

.author-name {
  columns: 2;
  column-gap: $gutter * 2;

  font-weight: bold;
  line-height: 1.7em;

  @media(max-width: $desktop) {
    columns: inherit;
  }
}



.author-biography-text {
  columns: 2;
  column-gap: $gutter * 2;
  margin-top: 0;

  line-height: 1.7em;

  @media(max-width: $desktop) {
    columns: inherit;
  }
}
