/* ==|====================
   Module/Author
   ======================= */

@import "../base/base";

.author {
  display: none;
  animation-duration: .3s;
  animation-delay: 0s;
  transition: all 300ms ease-in-out;

  background-color: $verylight-gray;

  .fr-accordion--is-ready & {
    display: inherit;
  }
}

.l-author {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  box-sizing: border-box;
  padding: $gutter * 2 $gutter;

  @media(max-width: $tablet) {
    flex-wrap: wrap;
    padding: $gutter;
  }
}

.author-photo {
  align-self: flex-start;
  padding: 0 $gutter * 2 $gutter;
  width: 140px;
  text-align: center;

  @media(max-width: $tablet) {
    padding: $gutter / 2 0 $gutter;
    width: 100%;
  }
}

.bio-pic {
  border-radius: 70px;
  width: 140px;
  max-width: inherit;
  height: 140px;
}

.author-name-inline {
  font-weight: bold;
  line-height: 1.7em;
}

.author-biography-text {
  margin: 0;

  columns: 200px 2;
  column-gap: $gutter * 2;

  font-size: 18px;
  line-height: 1.8em;
  font-weight: 300;

  @media(max-width: $boxed) {
    columns: 1;
  }
}
