/* ==|====================
   Module/Expander
   ======================= */

.expander {
  margin-bottom: 120px;
}

.expander-trigger {
  display: flex;
  width: 100%;
  min-height: 40px;
  border-bottom-style: solid;
  border-bottom-width: 8px;

  text-decoration: none;

  .introduction & {
    border-bottom-width: 1px;
    border-bottom-color: $light-gray;
  }

  .theory & {
    border-bottom-color: $green;
  }

  .stories & {
    border-bottom-color: $yellow;
  }

  .organizations & {
    border-bottom-color: $black;
  }

  .events & {
    border-bottom-color: $blue;
  }
}

.expander-title {
  flex: 1;
  margin-bottom: 4px;
  text-align: center;
  font-size: 20px;

  @media (max-width: $tablet) {
    font-size: 16px;
    line-height: 1.3em;
  }
}

.expander-article-count {
  align-self: flex-start;

  min-width: 15px;

  text-align: center;
  font-family: $open-sans;
  font-weight: bold;
  font-size: 19px;

  .theory & {
    color: $green;
  }

  .stories & {
    color: $yellow;
  }

  .organizations & {
    color: $black;
  }

  .events & {
    color: $blue;
  }
}

.upcoming-event-icon {
  margin-left: 5px;
  align-self: baseline;
}

.expander-open-close {
  align-self: center;
  margin-right: 5px;

  &.is-open {
    transform: rotate(180deg);
  }
}

.is-closed {
  display: none;
}
