/* ==|====================
   Module/Featured Links
   ======================= */

@import "../base/base";
@import "../base/mixins";

.featured-link-list {

}

.featured-link {
  display: flex;

  a {
    box-sizing: border-box;
    align-self: center;
    border-top: solid 1px $light-gray;
    padding: 25px 2px 25px $gutter;
    width: 100%;

    font-size: 16px;
    line-height: 1.3em;
    text-decoration: none;

    &:hover,
    &:active {
      border-top: solid 8px $light-gray;
      padding-top: 16px; //25px - 9px
    }

    &:after {
      content: '';
      float: right;
      padding-bottom: 1px;
      vertical-align: middle;
      font-size: 18px;
    }

    &.yellow {
      color: $yellow;

      &:hover,
      &:active {
        border-top-color: $yellow;
      }

      &:after {
        @include sprite(chevron-yellow-icon);
      }
    }

    &.green {
      color: $green;

      &:hover,
      &:active {
        border-top-color: $green;
      }

      &:after {
        @include sprite(chevron-green-icon);
      }
    }

    &.black {
      color: $black;

      &:hover,
      &:active {
        border-top-color: $black;
      }

      &:after {
        @include sprite(chevron-icon);
      }
    }

    &.blue {
      color: $blue;

      &:hover,
      &:active {
        border-top-color: $blue;
      }

      &:after {
        @include sprite(chevron-blue-icon);
      }
    }
  }
}

.over-ub {
  margin-top: $gutter;
  margin-bottom: $gutter;
}

.over-ub-link {
  border-bottom: solid 1px $light-gray;
}


/* ==|====================
   State/Featured Links
   ======================= */

.is-mobile-only {
  display: none;

  @media (max-width: $mobile) {
    display: inherit;
  }
}

.is-desktop-only {
  @media (max-width: $mobile) {
    display: none;
  }
}
