/* ==|====================
   Module/Featured Welcome Message
   ======================= */

.featured-welcome-message {
  border-left: solid 1px $light-gray;
  padding-left: $gutter * 2;
  width: 380px;
}

.featured-welcome-message-title {
  padding-bottom: $gutter;
}

.featured-welcome-message-body {

}
