/* ==|====================
   Module/Featured Agenda
   ======================= */

@import "../base/base";
@import "../base/mixins";
@import "../base/sprite-mixins";

.featured-agenda {
  display: flex;
  flex-direction: column;

  @media(max-width: $tablet) {
    display: none;
  }
}

.featured-agenda-title {
  height: 20px;
}

.featured-agenda-items {
  flex: 1;
}

.featured-agenda-item {
  display: flex;
  flex-direction: row;
  margin-bottom: $gutter;
}

.featured-agenda-date {
  display: flex;
  flex-direction: column;
  margin-right: 15px;
  padding-right: 10px;
  width: 40px;
}

.featured-agenda-item .description {
  display: flex;
  flex-direction: column;
  width: calc(100% - 40px);
}

.featured-agenda-item-link {
  flex: 1;
  text-decoration: none;
}

.featured-agenda-item .p-name {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.featured-agenda-item .p-category {
  justify-self: flex-end;
  padding-bottom: 1px;

  font-family: $open-sans;
  color: $blue;
  font-size: 14px;
}

.featured-agenda-footer {
  padding-bottom: $gutter;
  padding-left: 6px;

  a {
    font-size: 14px;
    font-family: $open-sans;
    text-decoration: none;
    color: $blue;

    &:after {
      @include sprite(chevron-blue-icon);
      content: '';
      margin-left: 7px;
      padding-bottom: 1px;
      vertical-align: middle;
      font-size: 18px;
    }
  }
}

.featured-event-image {
  display: none;
}

/* ==|====================
   States/Featured Agenda
   ======================= */

&.is-hover {
  border-right: solid 8px $blue !important;
  margin-right: 8px;
}
