/* ==|====================
   Module/Featured Welcome Message
   ======================= */

@import "../base/base";

.featured-welcome-message-title {
  padding-bottom: $gutter;
  font-size: 36px;

  @media (max-width: $tablet) {
    padding-bottom: $gutter / 2;
  }
}

.featured-welcome-message-body {
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;

  @media (max-width: $tablet) {
  }

  @media (max-width: $mobile) {
    font-size: 4.2vw;
    line-height: 1.7em;
  }
}
