/* ==|====================
   Module/Featured Links
   ======================= */

@import "../base/base";
@import "../base/mixins";

.featured-journal {
  height: 300px;
  width: 215px;
  overflow: hidden;

  a {
    height: 100%;
    width: 100%;
    text-decoration: none;
  }
}

.featured-journal-link {
  position: relative;
  display: block;
}

.featured-journal-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  object-fit: cover;
}

.featured-journal-overlay {
  z-index: 10;
  box-sizing: border-box;
  padding: $gutter / 2 $gutter $gutter * 2;
  height: 100%;
  overflow: hidden;
  opacity: 0.95;

  background: $blue url('/static/images/pdf-icon.svg') center bottom 38px no-repeat;

  color: $white;
  text-align: center;

  font-size: 21px;
  line-height: 1.3em;

  .featured-journal-header {
    padding-bottom: $gutter / 2;
    font-family: $open-sans;
    text-transform: uppercase;
    font-size: 15px;
  }
}
