/* ==|====================
   Module/Featured Welcome Message
   ======================= */

.featured-welcome-message {
  border-left: solid 1px $light-gray;
  padding: 0 $gutter * 2;
  max-width: 380px;

  @media (max-width: $tablet) {
    border-left: none;
    padding: 0 0 $gutter $gutter;
  }

  @media (max-width: $mobile) {
    order: 0;
    padding-bottom: 0;
  }
}

.featured-welcome-message-title {
  padding-bottom: $gutter;
}

.featured-welcome-message-body {

}
