/* ==|====================
   Module/Featured Links
   ======================= */

@import "../base/base";
@import "../base/mixins";

.featured-links {
  margin-left: auto;
  margin-right: 0px;
  width: 260px;
  height: 300px;

  @media (max-width: $tablet) {
    display: none;
  }
}

.featured-link-list {
}

.featured-link {
  display: flex;
  border-top: solid 1px $light-gray;
  height: calc(300px / 4);

  a {
    align-self: center;
    padding: 0 $gutter / 2;
    width: 100%;

    font-size: 16px;
    line-height: 1.3em;
    text-decoration: none;

    &.yellow {
      color: $yellow;
    }

    &.green {
      color: $green;
    }

    &.black {
      color: $black;
    }

    &.blue {
      color: $blue;
    }
  }
}


.featured-article-preview-title {
  z-index: 10;
  padding: $gutter;
  width: 40%;
  max-height: 70%;
  overflow: hidden;

  font-size: 36px;
  line-height: 46px;
  text-align: center;
  color: $white;


  @media(max-width: $tablet) {
    box-sizing: border-box;
    //noinspection CssInvalidFunction
    width: calc(100vw - var(--gutter));
    font-size: 4vw;
    line-height: 1.2em;
  }

  @media(max-width: $mobile) {
    font-size: 6vw;
    line-height: 1.4em;
  }
}


.featured-article-preview-image {
  width: 100%;
}

.featured-article-icon {
  width: 70px;
  background: #ffffff;

  @media(max-width: $tablet) {
    display: none;
  }
}

.article-icon {
  padding: 8px 0 0 10px;
}
