/* ==|====================
   Module/Footer
   ======================= */

@import "../base/base";

.footer {
  background-color: $black;

  font-family: $open-sans;
  font-size: 14px;
  color: $white;

  li {
    padding: 5px 0;

    &:first-of-type {
      padding-top: 0;
    }

    &:last-of-type {
      padding-bottom: 0;
    }
  }

  a {
    color: $white;
    text-decoration: none;

    &:hover,
    &:active {
      text-decoration: none;
    }
  }
}

.mobile-contact-links {
  display: none;

  @media(max-width: $mobile) {
    display: inline;
  }
}

.ub-logo-footer-text {
  margin: 0;
  width: 100%;
  text-align: center;
}

.ub-logo-large {
  padding: $gutter / 2 0;
}

.contact-links-search {
  margin-bottom: 33px;
}

.casco-ksu-logos {
  text-align: center;
}

.casco-ksu-logos-text {
  margin: 0;
  width: 100%;
  text-align: center;
}

.casco-logo {
  padding: $gutter / 2 0;
}

.ksu-logo {
  padding: $gutter / 2 0 0;
}

.l-footer-element.contact-links {
  @media(max-width: $mobile) {
    display: inherit;
    order: -1;
    margin-bottom: $gutter;
  }
}

.l-footer-element.ub-logo-footer {
  @media(max-width: $mobile) {
    padding-top: $gutter / 2;
  }
}

.contact-links-search,
.contact-links-contact {
  @media(max-width: $mobile) {
    display: none;
  }
}

.contact-links-newsletter,
.contact-links-facebook {
  @media(max-width: $mobile) {
    display: inline;
  }
}

.contact-links-newsletter-link {
  @media(max-width: $mobile) {
    border-right: solid 1px $light-gray;
    margin-right: 4px;
    padding-right: 8px;
  }
}
