/* ==|====================
   Module/Header
   ======================= */

@import "../base/base";

// Header
.article-header {
  color: $white;

  @media(max-width: $tablet) {
    height: auto;
    min-height: inherit;
  }

  .news-article &,
  .event &,
  .activities-list & {
    background-color: $blue;
  }

  .theory-article &,
  .theory-article-list & {
    background-color: $green;
  }

  .story-article &,
  .story-article-list & {
    background-color: $yellow;
  }

  .organization &,
  .organization-list & {
    background-color: $black;
  }
}

.article-header-title {
  margin: auto;
  max-width: 70%;

  text-align: center;
  font-weight: 400;
  font-size: 50px;
  line-height: 62px;

  @media(max-width: $tablet) {
    margin-top:0;
    max-width: inherit;
    font-size: 9vw;
    line-height: 1.4em;
  }
}

.article-header-subtitle {
  font-size: 50px;
  font-style: italic;

  @media(max-width: $tablet) {
    padding-top: 5px;
    font-size: 7vw;
    line-height: 1.5em;
  }
}

.article-header-image {
  display: none;
}

.article-header-meta {
  text-align: center;
  font-family: $open-sans;
  font-weight: 400;
  font-size: 16px;
}

.open-author-pane-button {

  font-family: $open-sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  text-decoration: none;
  text-align: center;
  color: $white;

  @media(max-width: $tablet) {
    background-color: $white;
    color: $light-grayish;
  }

  &:after {
    @include sprite(chevron-white-icon);
    transition: all 500ms ease-in-out;
    content: '';
    transform: rotate(90deg);
    vertical-align: middle;
    font-size: 18px;

    @media(max-width: $tablet) {
      position: absolute;
      right: 34px;
      top: 30px;
      @include sprite(chevron-gray-icon);
    }

    &:hover {
      transform: translateY(2px);
    }
  }

  &.is-opened-button  {

    @media(max-width: $tablet) {
      margin-bottom: 0;
      border-bottom: 0;
    }

    &:after {
      transform: rotate(-90deg);
      vertical-align: text-top;
    }
  }
}

