/* ==|====================
   Module/Headings
   ======================= */

@import "../base/base";

.hidden-title {
  display: none;
}

.section-title {
  font-size: 14px;
  font-weight: 400;
  font-family: $open-sans;
  color: $medium-gray;

  @media (max-width: $tablet) {
    display: none;
  }
}
