/* ==|====================
   Module/Header
   ======================= */

@import "../base/base";

.article-header {
  color: $white;

  animation-duration: .3s;

  @media(max-width: $tablet) {
    height: auto;
    min-height: inherit;
  }

  .news-article &,
  .event &,
  .activities-page & {
    background-color: $blue;
  }

  .theory-article &,
  .theory-articles-page & {
    background-color: $green;
  }

  .story-article &,
  .story-articles-page & {
    background-color: $yellow;
  }

  .organization &,
  .organizations-page & {
    background-color: $black;
  }

  .about-page &,
  .how-tos-page &,
  .activities-page &,
  .theory-articles-page &,
  .story-articles-page &,
  .organizations-page & {
    min-height: 170px;
  }
}

.article-header-title {
  margin: auto;
  max-width: 70%;

  text-align: center;
  font-weight: 400;
  font-size: 50px;
  line-height: 62px;

  @media(max-width: $tablet) {
    margin-top: 0;
    margin-bottom: 0;
    max-width: inherit;
    font-size: 6.5vw;
    line-height: 1.4em;
  }

  .how-tos &,
  .how-tos-page & {
    margin-top: $gutter / 2;
    color: $green;
  }
}

.article-header-text {
  margin: $gutter auto $gutter / 2;
  max-width: 700px;
  font-size: 20px;
  line-height: 32px;
  color: $black;
  text-align: center;
}

.article-header-subtitle {
  font-size: 50px;
  font-style: italic;

  @media(max-width: $tablet) {
    padding-top: 5px;
    font-size: 7vw;
    line-height: 1.5em;
  }
}

.article-header-meta {
  text-align: center;
  font-family: $open-sans;
  font-weight: 400;
  font-size: 16px;
}

.article-header {
  .audio-icon,
  .video-icon,
  .organization-icon,
  .event-icon,
  .images-icon,
  .text-icon,
  .theory-icon {
    display: block;
  }
}

.open-author-pane-button {

  font-family: $open-sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  text-decoration: none;
  text-align: center;
  color: $white;

  @media(max-width: $tablet) {
    background-color: $white;
    color: $light-grayish;
  }

  &:after {
    @include sprite(chevron-white-icon);
    transition: all 500ms ease-in-out;
    content: '';
    transform: rotate(90deg);
    vertical-align: middle;
    font-size: 18px;

    @media(max-width: $tablet) {
      position: absolute;
      right: 34px;
      top: 30px;
      @include sprite(chevron-gray-icon);
    }

    &:hover {
      transform: translateY(2px);
    }
  }

  &.is-opened-button  {

    @media(max-width: $tablet) {
      margin-bottom: 0;
      border-bottom: 0;
    }

    &:after {
      transform: rotate(-90deg);
      vertical-align: text-top;
    }
  }
}

.close-social-modal {
  display: none;
}

.is-open-social {
  height: 100%;
  width: 100%;

  .share-icon-wrapper {
    transition: all 300ms ease-in-out;
    height: 100px;
    width: 100px;
    background-color: $white;
    border-radius: 50px;
  }

  .share-icon {
    padding: 32px 38px;
    fill: $black;
    stroke: $black;
  }

  .close-social-modal {
    position: absolute;
    right: 34px;
    bottom: 27px;
    display: inherit;
    color: $white;
    text-decoration: none;
  }
}


