/* ==|====================
   Module/How-to Circles
   ======================= */

@import "../base/base";
@import "../base/mixins";
@import "../base/sprite-mixins";

.how-to-circles-containter {
  position: relative;
  margin: 0 auto;
  height: 520px;

  @media(max-width: $tablet) {
    position: relative;
    margin: $gutter auto $gutter /2;
    height: inherit;
  }
}

.how-to-planet,
.how-to-satellites {
  position: absolute;
  top: 0;
  left: 0;
}

.how-to-planet {
  top: 83px;
  left: 83px;

  @media(max-width: $tablet) {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
  }
}

.how-to-satellites {
  @include on-displaced-circle($item-count: 8, $circle-size: 580px, $item-size: 75px);
  margin: 0 auto;

  @media(max-width: $tablet) {
    display: none;
  }

  &.is-hidden {
    display: none !important;
  }
}

.how-to-satellite {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: .15s;

  &.animated {
    animation-duration: 0.5s;
  }

  .theory & {
    background-color: $green;
  }

  .stories & {
    background-color: $yellow;
  }

  .practitioners & {
    background-color: $black;
  }

  .activities & {
    background-color: $blue;
  }

  .article-format {
    padding-top: 20px;
  }
}

.css-icon:after {
  @include sprite(theory-icon);
  content: '';
  margin-top: 9px;
}

.article-count {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  font-family: $open-sans;

  .theory & {
    color: $green;
  }

  .stories & {
    color: $yellow;
  }

  .practitioners & {
    color: $black;
  }

  .activities & {
    color: $blue;
  }
}

.circle {
  fill: transparent;

  animation-duration: 1s;
  animation-delay: 0.3s;
  animation-iteration-count: 1;

  &.theory {
    stroke: $green;

    &:hover {
      fill: $green;
    }
  }

  &.stories {
    stroke: $yellow;

    &:hover {
      fill: $yellow;
    }
  }

  &.practitioners {
    stroke: $black;

    &:hover {
      fill: $black;
    }
  }

  &.activities {
    stroke: $blue;

    &:hover {
      fill: $blue;
    }
  }
}

.green-text {
  color: $green;
}
