/* ==|====================
   Module/How to
   ======================= */

@import "../base/base";

.l-how-tos {
  margin: 0 auto $gutter * 2;
  border-top: solid 1px $light-gray;
}

.grid-masonry {
  margin: 0 auto;

  @media(max-width: $mobile) {
    width: 100% !important;
  }

  /* clear fix */
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

.how-to-grid-item {
  float: left;
  box-sizing: border-box;
  padding: 0 $gutter / 2;
  min-height: 552px;
  width: 459px;

  @media(max-width: $tablet) {
    border-top: solid 1px $light-gray;
  }

  @media(max-width: $mobile) {
    width: 100%;
  }
}

.how-to-link {
  text-decoration: none;
}

.how-to-title {
  padding: $gutter $gutter $gutter / 2;
  text-align: center;
  color: $green;
  font-size: 36px;
  font-family: $merriweather;
  font-weight: normal;
  line-height: 1.3em;

  .how-to & {
    padding: $gutter 0;
  }
}

.how-to-circles {
  position: relative;
  display: block;
  margin: 0 auto;
  padding: 0 $gutter / 2 $gutter * 1.5;
  width: 262px;
  height: 262px;

  @media(max-width: $mobile) {
    padding: 0 0 $gutter;
  }
}


.how-to-description {
  margin: 20px auto;
  max-width: 700px;
  text-align: center;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.7em;
  color: $black;
}

.how-to-meta {
  border-top: solid 1px $light-gray;
  padding: $gutter / 2 $gutter;
}

.how-to-meta-list-item {
  display: inline-block;

  width: 48%;
  margin: 8px 0;

  .number {
    display: inline-block;
    min-width: 15px;

    text-align: center;
    font-family: $open-sans;
    font-weight: bold;
    font-size: 16px;
  }

  .article-type {
    padding-left: 15px;
    font-size: 12px;
  }

  &.event-count .number  {
    color: $blue;
  }

  &.story-count .number  {
    color: $yellow;
  }

  &.organization-count .number  {
    color: $black;
  }

  &.theory-count .number  {
    color: $green;
  }

  .count-0.number {
    color: $light-gray;
  }
}

