/* ==|====================
   Module/How-to Circles
   ======================= */

@import "../base/base";
@import "../base/mixins";
@import "../base/sprite-mixins";
@import "icons";

.how-to-circles-containter {
  position: relative;
  margin: 0 auto;
  height: 520px;

  @media(max-width: $tablet) {
    position: relative;
    margin: $gutter auto $gutter /2;
    height: inherit;
  }
}

.how-to-planet,
.how-to-satellites {
  position: absolute;
  top: 0;
  left: 0;
}

.how-to-planet {
  top: 83px;
  left: 83px;
  cursor: pointer;

  @media(max-width: $tablet) {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
  }
}

.how-to-satellites {
  @include on-displaced-circle($item-count: 8, $circle-size: 580px, $item-size: 75px);
  margin: 0 auto;

  @media(max-width: $tablet) {
    display: none;
  }

  &.is-hidden {
    display: none !important;
  }
}


.how-to-satellite {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: .15s;

  &.animated {
    animation-duration: 0.5s;
  }

  .theory & {
    background-color: $green;
  }

  .stories & {
    background-color: $yellow;
  }

  .practitioners & {
    background-color: $black;
  }

  .activities & {
    background-color: $blue;
  }

  .article-format {
    padding-top: 20px;
  }
}

.article-count {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  font-family: $open-sans;

  .theory & {
    color: $green;
  }

  .stories & {
    color: $yellow;
  }

  .practitioners & {
    color: $black;
  }

  .activities & {
    color: $blue;
  }
}

.how-to-planet {
  .circle {
    fill: transparent !important;

    animation-duration: 1s;
    animation-delay: 0.3s;
    animation-iteration-count: 1;
  }

  &.theory circle.theory {
    stroke: $green !important;

    &:hover {
      fill: $green !important;
    }
  }

  &.stories circle.stories {
    stroke: $yellow !important;

    &:hover {
      fill: $yellow !important;
    }
  }

  &.practitioners circle.practitioners {
    stroke: $black !important;

    &:hover {
      fill: $black !important;
    }
  }

  &.activities circle.activities {
    stroke: $blue !important;

    &:hover {
      fill: $blue !important;
    }
  }

  #sterretje {
    display: none;
  }
}

.green-text {
  color: $green;
}

.how-to-circles-middel {
  transform-origin: 51% 50%;
  animation-name: boogie;
  animation-duration: 0.65s;
  animation-timing-function: ease;
  animation-fill-mode: both;
  animation-delay: 0.0s;

  fill:transparent;
  stroke-width:6;
  stroke-miterlimit:10;
  stroke: $light-gray;

  .main-menu-how-to-circles & {
    stroke-width: 10px;
  }
}


#blauwmiddel {
  @extend .animation-base;
  @extend .how-to-circles-middel;

  .upcoming-event & {
    fill: $blue;
  }

  .activities & {
    stroke: $blue;
  }
}

#zwartmiddel {
  @extend .animation-base;
  @extend .how-to-circles-middel;

  .practitioners & {
    stroke: $black;
  }
}

#geelmiddel {
  @extend .animation-base;
  @extend .how-to-circles-middel;

  .stories & {
    stroke: $yellow;
  }
}

#groenmiddel {
  @extend .animation-base;
  @extend .how-to-circles-middel;

  .theory & {
    stroke: $green;
  }
}

.sterretje {
  opacity: 1;
  transform-origin: 51% 50%;
  animation-duration: 0.65s;
  animation-timing-function: ease;
  animation-fill-mode: both;
  animation-delay: 0.0s;

  fill:none;
  stroke:$white;
  stroke-width:3;
  stroke-miterlimit:10;
}

#sterretje1 {
  @extend .animation-base;
  @extend .sterretje;
  animation-name: show1;
}

#sterretje2 {
  @extend .animation-base;
  @extend .sterretje;
  animation-name: show2;
}

#sterretje3 {
  @extend .animation-base;
  @extend .sterretje;
  animation-name: show3;
}

#sterretje4 {
  @extend .animation-base;
  @extend .sterretje;
  animation-name: show4;
}

#sterretje5 {
  @extend .animation-base;
  @extend .sterretje;
  animation-name: show5;
}

#sterretje6 {
  @extend .animation-base;
  @extend .sterretje;
  animation-name: show6;
}

#sterretje7 {
  @extend .animation-base;
  @extend .sterretje;
  animation-name: show7;
}

#sterretje8 {
  @extend .animation-base;
  @extend .sterretje;
  animation-name: show8;
}


@-webkit-keyframes boogie {
    0% {
    -webkit-transform: rotate(0deg);
    }

    100% {
    -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes show1 {
    0%, 100% {
    -webkit-transform: translate(0px,0px);
    }

    30% {
    -webkit-transform: translate(0px,-1px);
    }
}

@-webkit-keyframes show8 {
    0%, 100% {
    -webkit-transform: translate(0px,0px);
    }

    30% {
    -webkit-transform: translate(1px,-1px);
    }
}

@-webkit-keyframes show4 {
    0%, 100% {
    -webkit-transform: translate(0px,0px);
    }

    30% {
    -webkit-transform: translate(1px,0px);
    }
}

@-webkit-keyframes show6 {
    0%, 100% {
    -webkit-transform: translate(0px,0px);
    }

    30% {
    -webkit-transform: translate(1px,1px);
    }
}

@-webkit-keyframes show2 {
    0%, 100% {
    -webkit-transform: translate(0px,0px);
    }

    30% {
    -webkit-transform: translate(0px,1px);
    }
}

@-webkit-keyframes show7 {
    0%, 100% {
    -webkit-transform: translate(0px,0px);
    }

    30% {
    -webkit-transform: translate(-1px,1px);
    }
}

@-webkit-keyframes show3 {
    0%, 100% {
    -webkit-transform: translate(0px,0px);
    }

    30% {
    -webkit-transform: translate(-1px,0px);
    }
}

@-webkit-keyframes show5 {
    0%, 100% {
    -webkit-transform: translate(0px,0px);
    }

    30% {
    -webkit-transform: translate(-1px,-1px);
    }
}
