/* ==|====================
   Module/HR
   ======================= */

@import "../base/base";

hr {
  display: block;
  height: 2px;
  border: 0;
  border-top: 2px solid $light-gray;
  margin: $gutter 0;
  padding: 0;
}
