/* ==|====================
   Module/Inline Organization
   ======================= */

@import "../base/base";
@import "../base/mixins";


.article-inline {
  display: none;
}

.article-inline-link-organizationpage {

}

.inline-organization {
  background-color: $white;
  height: 200px;
}
