/* ==|====================
   Modules/Latest Pages
   ======================= */

@import "../base/base";

.latest-articles {

  @media(max-width: $mobile) {
    padding: 0 $gutter;
  }
}

.latest-article-link {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  text-decoration: none;

  @media(max-width: $mobile) {
    flex-direction: column;
  }
}

.latest-article-icon-wrapper {
  flex: 0 0 48px;
  align-self: flex-start;
  width: 48px;
  height: 48px;
  border-radius: 24px;
  text-align: center;

  @media(max-width: $tablet) {
    margin-top: $gutter / 2;
  }

  @media(max-width: $mobile) {
    align-self: center;
  }

  .latest-article-story & {
    align-self: center;
    margin-top: -14px; // lower below date
    background-color: $yellow;

    @media(max-width: $tablet) {
      align-self: flex-start;
      margin-top: $gutter / 2;
    }

    @media(max-width: $mobile) {
      align-self: center;
    }
  }

  .latest-organization & {
    background-color: $black;
    margin-bottom: $gutter / 2;
  }

  .latest-article-theory & {
    background-color: $green;

    @media(max-width: $tablet) {
      margin-top: $gutter / 2;
    }
  }

  .latest-article-report & {
    margin-top: calc(var(--gutter + 14px)); // lower below date
    background-color: $blue;

    @media(max-width: $tablet) {
      margin-top: $gutter / 2;
    }
  }

  .article-format-icon {
    padding-top: 13px;
  }
}

.latest-article-info {
  flex: 1;
  padding: 0 $gutter;

  @media(max-width: $tablet) {
    margin-top: $gutter / 2;
    padding-right: 0;
  }

  @media(max-width: $mobile) {
    padding-left: 0;
  }
}

.latest-article-title {
  font-weight: 400;
  font-size: 28px;
  line-height: 40px;

  .latest-article-theory & {
    font-weight: 400;
    font-size: 22px;
    line-height: 34px;
  }
}

.latest-article-author {
  padding: 7px 0;

  font-family: $open-sans;
  font-size: 14px;
  color: $light-grayish;

  &:hover,
  &:active {
    text-decoration: none;
  }

  .latest-article-report & {
    display: none;
  }

  .latest-article-theory & {
    padding: 24px 0;
  }
}

.latest-article-image {
  flex: 0 1 428px;
  max-width: 428px;

  .latest-article-story & {
    height: 120px;
    object-fit: cover;
    overflow: hidden; // Cuts off the parts of the image poking out
  }

  @media(max-width: $tablet-horizontal) {
    flex: 0 1 auto;
    padding-top: $gutter;
    max-width: 100%;
  }

  @media(max-width: $tablet) {
    width: 100%;
  }

  .latest-article-report & {
    flex: 0 1 auto;
    padding-top: $gutter;
    max-width: 100%;
  }
}


// Story Article
.latest-article-story {
  border-top: solid $light-gray 1px;
  border-bottom: solid $light-gray 1px;
  box-sizing: border-box;
  padding: $gutter;

  &.is-hovered {
    border-top: solid $yellow 10px;
    border-bottom: solid $yellow 10px;
    padding-top: calc(var(--gutter) - 9px);
    padding-bottom: calc(var(--gutter) - 9px);

    @media(max-width: $tablet) {
      border-top: solid $light-gray 1px;
      border-left: none;
      border-right: none;
      border-bottom: none;
      padding: $gutter / 2 0;
    }
  }

  @media(max-width: $tablet) {
    padding: $gutter / 2 0;
  }
}

// Report Article
.latest-article-report {
  border-left: solid $light-gray 1px;
  border-right: solid $light-gray 1px;
  box-sizing: border-box;
  padding: 0 $gutter $gutter;

  &.is-hovered {
    border-left: solid $blue 10px;
    border-right: solid $blue 10px;
    padding-left: calc(var(--gutter) - 9px);
    padding-right: calc(var(--gutter) - 9px);

    @media(max-width: $tablet) {
      border-left: none;
      border-right: none;
      border-bottom: none;
      padding: $gutter / 2 0 $gutter;
    }
  }

  @media(max-width: $tablet) {
    border-left: none;
    border-right: none;
    border-top: solid $light-gray 1px;
    border-bottom: none;
    padding: $gutter / 2 0 $gutter;
  }
}

.latest-article-report-related-event-date {
  padding-bottom: $gutter / 2;
  font-family: $open-sans;
  font-size: 14px;
  color: $light-grayish;

  @media(max-width: $tablet) {
    padding-top: 10px;
    font-size: 24px;
  }
}

// Theory Article
.latest-article-theory {
  border-left: solid $light-gray 1px;
  border-right: solid $light-gray 1px;
  box-sizing: border-box;
  padding: $gutter;

  &.is-hovered {
    border-left: solid $green 10px;
    border-right: solid $green 10px;
    padding-left: calc(var(--gutter) - 9px);
    padding-right: calc(var(--gutter) - 9px);

    @media(max-width: $tablet) {
      border-left: none;
      border-right: none;
      border-bottom: none;
      padding: $gutter / 2 0;
    }
  }

  @media(max-width: $tablet) {
    border-left: none;
    border-right: none;
    border-top: solid $light-gray 1px;
    border-bottom: none;
    padding: $gutter / 2 0;
  }

  .latest-article-introduction {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }

}


// Organization
.latest-organization {
  border-top: solid $light-gray 1px;
  border-bottom: solid $light-gray 1px;
  padding: $gutter * 1.5 0;

  &.is-hovered {
    border-top: solid $black 10px;
    border-bottom: solid $black 10px;
    padding-top: calc(var(--gutter) * 1.5 - 9px);
    padding-bottom: calc(var(--gutter) * 1.5 - 9px);

    @media(max-width: $tablet) {
      border-top: solid $light-gray 1px;
      border-bottom: none;
      padding: $gutter / 2 0;
    }
  }

  .latest-article-icon-wrapper {
    margin-top: 10px;
    margin-left: $gutter / 2;
    align-self: center;

    @media(max-width: $tablet) {
      margin-left: 0;
    }
  }

  @media(max-width: $tablet) {
    border-bottom: none;
    padding: $gutter / 2 0;
  }
}

.latest-organization-link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  //height: 100%;

  text-decoration: none;

  &:hover,
  &:active {
    text-decoration: none;
  }
}

.latest-organization-title {
  padding: 0 $gutter;
  text-align: center;

  font-size: 20px;
  font-weight: bold;
  font-family: $open-sans;
  color: $black;
}
