/* ==|====================
   Modules/Latest Articles
   ======================= */

@import "../base/base";

.latest-articles {
  position: relative;

  @media(max-width: $mobile) {
    padding: 0 $gutter;
  }
}

.article-index-page-list {
  margin: $gutter * 2;

  @media(max-width: $tablet) {
    margin: $gutter 0;
  }

  @media(max-width: $mobile) {
    //padding-left: 0;
  }
}

.latest-article-link {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  text-decoration: none;

  @media(max-width: $mobile) {
    //flex-direction: column;
  }
}

.latest-article-info {
  flex: 1;
  padding: 0 $gutter;

  @media(max-width: $tablet) {
    margin-top: $gutter / 2;
    padding-right: 0;
  }

  @media(max-width: $mobile) {
    padding-left: $gutter / 2;
  }
}

.latest-article-title {
  font-weight: 400;
  font-size: 28px;
  line-height: 40px;

  @media(max-width: $tablet) {
    font-size: 5vw;
    line-height: 1.3em;
  }

  @media(max-width: $mobile) {
    font-size: 6vw;
  }

  .latest-theory-article & {
    font-weight: 400;
    font-size: 22px;
    line-height: 34px;

    @media(max-width: $tablet) {
      font-size: 4vw;
      line-height: 1.2em;
    }

    @media(max-width: $mobile) {
      font-size: 5vw;
    }
  }
}

.latest-article-author {
  padding: 7px 0;

  font-family: $open-sans;
  font-size: 14px;
  color: $light-grayish;

  &:hover,
  &:active {
    text-decoration: none;
  }

  .latest-news-article & {
    display: none;
  }

  .latest-theory-article & {
    padding: 24px 0 ;

    @media(max-width: $tablet) {
      padding-bottom: 0;
    }
  }
}

.latest-article-introduction {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;

  @media(max-width: $tablet) {
    font-size: 3vw;
    line-height: 1.5em;
  }

  @media(max-width: $mobile) {
    font-size: 4vw;
  }
}

.latest-article-image {
  flex: 0 1 428px;
  max-width: 428px;

  .latest-story-article & {
    height: 120px;
    object-fit: cover;
    overflow: hidden; // Cuts off the parts of the image poking out
  }

  @media(max-width: $tablet-horizontal) {
    flex: 0 1 auto;
    padding-top: $gutter;
    max-width: 100%;
  }

  @media(max-width: $tablet) {
    padding-top: 0;
    width: 100%;
  }

  .latest-news-article & {
    flex: 0 1 auto;
    padding-top: $gutter / 2;
    max-width: 100%;
  }
}


// Story Article
.latest-story-article {
  border-top: solid $light-gray 1px;
  border-bottom: solid $light-gray 1px;
  box-sizing: border-box;
  padding: $gutter;

  &.is-hovered {
    border-top: solid $yellow 10px;
    border-bottom: solid $yellow 10px;
    padding-top: calc(var(--gutter) - 9px);
    padding-bottom: calc(var(--gutter) - 9px);

    @media(max-width: $tablet) {
      border-top: solid $light-gray 1px;
      border-left: none;
      border-right: none;
      border-bottom: none;
      padding: $gutter / 2 0;
    }
  }

  @media(max-width: $tablet) {
    border-left: none;
    border-right: none;
    border-top: solid $light-gray 1px;
    border-bottom: none;
    padding: $gutter / 2 0;
  }
}

.latest-story-article .picture {
  @media(max-width: $tablet) {
    width: 100%;
  }
}

// News Article
.latest-news-article {
  border-left: solid $light-gray 1px;
  border-right: solid $light-gray 1px;
  box-sizing: border-box;
  padding: 0 $gutter $gutter;

  &.is-hovered {
    border-left: solid $blue 10px;
    border-right: solid $blue 10px;
    padding-left: calc(var(--gutter) - 9px);
    padding-right: calc(var(--gutter) - 9px);

    @media(max-width: $tablet) {
      border-left: none;
      border-right: none;
      border-bottom: none;
      padding: $gutter / 2 0 $gutter;
    }
  }

  @media(max-width: $tablet) {
    border-left: none;
    border-right: none;
    border-top: solid $light-gray 1px;
    border-bottom: none;
    padding: $gutter / 2 0 $gutter;
  }
}

.latest-news-article-related-event-date {
  padding-bottom: $gutter / 2;
  font-family: $open-sans;
  font-size: 14px;
  color: $light-grayish;

  @media(max-width: $tablet) {
    padding-top: 10px;
    font-size: 24px;
  }
}

// Theory Article
.latest-theory-article {
  border-left: solid $light-gray 1px;
  border-right: solid $light-gray 1px;
  box-sizing: border-box;
  padding: $gutter;

  &.is-hovered {
    border-left: solid $green 10px;
    border-right: solid $green 10px;
    padding-left: calc(var(--gutter) - 9px);
    padding-right: calc(var(--gutter) - 9px);

    @media(max-width: $tablet) {
      border-left: none;
      border-right: none;
      border-bottom: none;
      padding: $gutter / 2 0;
    }
  }

  @media(max-width: $tablet) {
    border-left: none;
    border-right: none;
    border-top: solid $light-gray 1px;
    border-bottom: none;
    padding: $gutter / 2 0;
  }
}


// Organization
.latest-organization {
  border-top: solid $light-gray 1px;
  border-bottom: solid $light-gray 1px;
  padding: $gutter * 1.5 0;

  &.is-hovered {
    border-top: solid $black 10px;
    border-bottom: solid $black 10px;
    padding-top: calc(var(--gutter) * 1.5 - 9px);
    padding-bottom: calc(var(--gutter) * 1.5 - 9px);

    @media(max-width: $tablet) {
      border-top: solid $light-gray 1px;
      border-bottom: none;
      padding: $gutter / 2 0;
    }
  }

  .icon-wrapper {
    margin-top: 10px;
    margin-left: $gutter / 2;
    align-self: center;

    @media(max-width: $tablet) {
      margin-left: 0;
    }
  }

  @media(max-width: $tablet) {
    border-bottom: none;
    padding: $gutter / 2 0;
  }
}

.latest-organization-link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  //height: 100%;

  text-decoration: none;

  &:hover,
  &:active {
    text-decoration: none;
  }
}

.latest-organization-title {
  padding: 0 $gutter;
  text-align: center;

  font-size: 20px;
  font-weight: bold;
  font-family: $open-sans;
  color: $black;
}

.related-articles .l-grid-item {
  position: relative;
  margin-bottom: $gutter * 2;
}

.l-below-latest-article {
  position: absolute;
  bottom: -$gutter;
  right: 0;

  @media(max-width: $tablet) {
    display: none;
  }

  .home & {
    display: none;
  }
}

.l-above-latest-article {
  position: absolute;
  top: -$gutter;
  left: 0;

  @media(max-width: $tablet) {
    display: none;
  }

  .home & {
    display: none;
  }

}

.latest-article-how-to {
  a {
    color: $green;
    text-decoration: none;
  }
}

.latest-article-publication-date {
  font-size: 14px;
  font-family: $open-sans;
  color: $light-grayish;
}
