/* ==|====================
   Module/Main Menu
   ======================= */

@import "../base/base";
@import "../base/mixins";

.main-menu  {
  @extend .border-bottom;
  padding: 14px 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  a {
    text-decoration: none;
  }
}

.main-menu .ub-logo {
  flex-wrap: wrap;
  margin-right: 55px;
}

.main-menu .how-to {
  flex: 1;
  justify-content: space-around;
  text-align: center;
}

.how-to-link {
  width: 120px;
  height: 25px;
  display: inline-block;
}

.main-menu .how-to-circles {
  margin: 0 7px 0 55px;
}

.main-menu .search-icon {
  margin: 0 29px;
}

.main-menu .language {
  padding: 4px 1px 6px 7px;

  font-family: $open-sans;
}
