/* ==|====================
   Module/Main Menu
   ======================= */

@import "../base/base";
@import "../base/mixins";

// Main nav
.main-nav {
  border-bottom: solid 2px $light-gray;

  @media(max-width: $tablet) {
    border-bottom: none;
    display: flex;
    height: 44px;
    background-color: $white;
  }
}

// Main menu
.main-menu  {
  padding: 14px 0;
  width: calc(100% - 45px);
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  a {
    text-decoration: none;
  }

  @media(max-width: $tablet) {
    position: absolute;
    top: 0;
    display: inherit;
    width: 315px;
    height: 100vh;
    background-color: $white;
    overflow: hidden;
  }
}

// UB logo
.ub-logo {
  float: left;

  .ub-logo-icon {
    padding: 23px 0 17px 0;
    width: 41.401px;

    @media(max-width: $tablet) {
      padding: 10px 8px 0;
      width: 30px;
    }
  }
}

// Search bar
.search-bar {
  display: none;

  @media(max-width: $tablet) {
    display: inherit;
    flex: 1;
    border-left: solid 1px $light-gray;
    height: 100%;
  }

  .search-label {
    @media(max-width: $tablet) {
      align-self: center;
      text-align: center;
      width: 40px;
    }
  }

  .search-textbox {
    @media(max-width: $tablet) {
      border: none;
      padding: 0;
      height: 100%;
      width: 100%;
    }
  }
}

// Hamburder menu
.hamburger-menu {
  display: none;

  @media(max-width: $tablet) {
    display: inherit;
    border-left: solid 1px $light-gray;
    padding: 0 13px;
  }
}

// MenuItems
.main-menu-item {
  @media(max-width: $tablet) {
    flex: inherit;
    width: 100%;
    padding: 20px 30px;
    border-bottom: solid 1px $light-gray;
  }

  .menu-item-short-text {
    @media(max-width: $tablet) {
      display: none;
    }
  }

  .menu-item-text {
    display: none;

    @media(max-width: $tablet) {
      display: inherit;
    }
  }
}


// MenuItem: How to
.main-menu-how-to {
  flex: 1;
  justify-content: space-around;
  text-align: center;

  @media(max-width: $tablet) {
    width: 100%;
    display: inline-block;
    flex: inherit;
  }

  .how-to-link {
    width: 120px;
    height: 25px;
    display: inline-block;

    @media(max-width: $tablet) {
      display: block;
      width: 100%;
    }
  }

  .how-to-eyebrow-icon {
    @media(max-width: $tablet) {
      display: none;
    }
  }

  .how-to-eye-icon {
    @media(max-width: $tablet) {
      display: inherit !important;
      float: left;
    }
  }
}

// MenuItem: How to circles
.main-menu-how-to-circles {
  margin: 0 7px 0 0;

  @media(max-width: $tablet) {
    margin: 0;
    padding: 10px 30px;
    order: -1;
  }

  .how-to-circles-link {
    @media(max-width: $tablet) {
      display: inline-block;
      width: 100%;
      text-align: center;
    }
  }

  .how-to-circles-icon {
    @media(max-width: $tablet) {
      float: left;
    }
  }

  .menu-item-text {
    padding-top: 15px;
    margin-left: -25px;
  }
}

// MenuItem: search
.main-menu-search {
  @media(max-width: $tablet) {
    display: none;
  }
}

// MenuItem: over ub
.over-ub {
  text-align: center;

  @media(max-width: $tablet) {
    padding: 20px 30px;
  }
}

// MenuItem: language
.main-menu-language {
  padding: 4px 1px 6px 7px;
  text-align: center;
  font-weight: bold;
  font-family: $open-sans;

  @media(max-width: $tablet) {
    padding: 20px 30px;
  }
}


@media (max-width: $tablet) {

  .js-ready .main-menu {
    right: -315px;
  }

  .js-ready .l-wrapper-inner {
    right: 0;
  }

  .js-nav .l-wrapper-inner {
    right: 315px;
  }

  .csstransforms3d.csstransitions.js-ready .main-menu {
    right: 0;
    transform: translate3d(100%, 0, 0);
    backface-visibility: hidden;
  }

  .csstransforms3d.csstransitions .l-wrapper-inner {
    right: 0 !important;
    transform: translate3d(0, 0, 0);
    transition: transform 500ms ease;
    backface-visibility: hidden;
  }

  .csstransforms3d.csstransitions.js-nav .l-wrapper-inner {
    transform: translate3d(-315px, 0, 0) scale3d(1, 1, 1);
  }

  .csstransforms3d.csstransitions .main-menu li {
    opacity: 0.7;
    transition: opacity 300ms 100ms ease, transform 500ms ease;
    transform: translate3d(315px, 0, 0) scale3d(0.9, 0.9, 0.9);
    transform-origin: 50% 0%;
  }

  .csstransforms3d.csstransitions.js-nav .main-menu li {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

}

