/* ==|====================
   Module/Main Menu
   ======================= */

@import "../base/base";
@import "../base/mixins";

.sidr {
  display: block;
  position: fixed;
  top: 44px;
  height: 100%;
  z-index: 999999;
  width: calc(100% - 44px);
  overflow-x: hidden;
  overflow-y: auto
}

.sidr.right {
  right: calc(44px - 100%);
  left: auto;
}

.sidr.left {
  left: calc(44px - 100%);
  right: auto;
}

// Main nav
.main-nav {
  z-index: 1010;
  position: fixed;
  top: 0;
  left: 0;
  margin-left: 75px;
  margin-right: $gutter;
  padding: 0 $gutter;
  width: calc(100% - (75px + var(--gutter))); // - margin-left & gutter

  background-color: $white;

  @media(max-width: $tablet) {
    display: none;
  }
}

// Main menu
.main-menu  {
  padding: 14px 0;
  width: calc(100% - 41.401px); // 100% - logo width
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  a {
    text-decoration: none;
  }

  @media(max-width: $tablet) {
    padding: 0;
    width: 100%;
    //overflow: hidden;
  }
}

// UB logo
.ub-logo {
  float: left;

  .ub-logo-icon {
    padding: 23px 0 17px 0;

    @media(max-width: $tablet) {
      padding: 5px 8px 0;
      width: 30px;
      height: 24.432px;
    }
  }

  @media(max-width: $tablet) {
    flex-basis: 46px;
    float: inherit;
  }
}

// Search bar
.search-bar {
  display: none;

  @media(max-width: $tablet) {
    display: inherit;
    flex: 1;
    border-left: solid 1px $light-gray;
    border-right: solid 1px $light-gray;
    margin: auto;
    height: 100%;
  }

  .search-label {
    @media(max-width: $tablet) {
      align-self: center;
      text-align: center;
      width: 40px;
    }
  }

  .search-textbox {
    @media(max-width: $tablet) {
      border: none;
      padding: 0;
      height: 100%;
      width: 100%;
    }
  }
}

// Hamburder menu
.hamburger-menu {
  display: none;

  @media(max-width: $tablet) {
    flex-basis: 40px;
    display: inherit;
    margin: auto;
    width: 40px;
  }
}

// MenuItems
.main-menu-item {
  @media(max-width: $tablet) {
    flex: inherit;
    width: 100%;
    padding: 20px 15px;
    border-bottom: solid 1px $light-gray;
  }

  .menu-item-short-text {
    @media(max-width: $tablet) {
      display: none;
    }
  }

  .menu-item-text {
    display: none;

    @media(max-width: $tablet) {
      display: inherit;
    }
  }
}


// MenuItem: How to
.main-menu-how-to {
  flex: 1;
  justify-content: space-around;
  text-align: center;

  @media(max-width: $tablet) {
    width: 100%;
    display: inline-block;
    flex: inherit;
  }

  .how-to-link {
    width: 120px;
    height: 25px;
    display: inline-block;

    @media(max-width: $tablet) {
      display: block;
      width: 100%;
    }
  }

  .circle {
    @media(max-width: $tablet) {
      display: inherit;
      float: left;
      margin-left: 14px;
      width: 20px;
    }
  }
}

// MenuItem: How to circles
.main-menu-how-to-circles {
  margin: 0 7px 0 0;
  padding-right: 36px;

  @media(max-width: $tablet) {
    margin: 0;
    padding: 10px 15px;
    order: -1;
  }

  .how-to-circles-link {
    @media(max-width: $tablet) {
      display: inline-block;
      width: 100%;
      text-align: center;
    }
  }

  .how-to-circles-icon {
    @media(max-width: $tablet) {
      float: left;
    }
  }

  .menu-item-text {
    padding-top: 15px;
    margin-left: -25px;
  }
}

// MenuItem: search
.main-menu-search {
  padding-right: 29px;

  @media(max-width: $tablet) {
    display: none;
  }
}

// MenuItem: over ub
.about-ub {
  padding-right: 29px;
  text-align: center;

  @media(max-width: $tablet) {
    padding: 20px 30px;
  }
}

// MenuItem: language
.main-menu-language {
  padding: 4px 1px 6px 7px;
  text-align: center;
  font-weight: bold;
  font-family: $open-sans;

  @media(max-width: $tablet) {
    padding: 20px 30px;
  }
}

// SVG Colors
.circle {
  &.blue circle {
    fill: $blue;
  }
  &.black circle {
    fill: $black;
  }
  &.green circle {
    fill: $green;
  }
  &.yellow circle {
    fill: $yellow;
  }
}


/* ==|====================
   State/Main Menu
   ======================= */

// Spin Logo Icon
.ub-logo-icon {
  transition: all 0.4s ease-out;

  .is-spinned & {
    transform: rotate(360deg);
  }
}

// Animate Hamburger Menu Icon

#hamburger-menu-button {
  cursor: pointer;
  color: $black;
  padding: 0 12px;
}

#hamburger-menu-button span,
#hamburger-menu-button span:before,
#hamburger-menu-button span:after {
  cursor: pointer;
  border-radius: 0;
  height: 2px;
  width: 16px;
  background: $black;
  position: absolute;
  display: block;
  content: '';
}
#hamburger-menu-button span:before {
  top: -6px;
}
#hamburger-menu-button span:after {
  bottom: -6px;
}

#hamburger-menu-button span,
#hamburger-menu-button span:before,
#hamburger-menu-button span:after {
  transition: all 200ms ease-in-out;
}

#hamburger-menu-button.active span {
  background-color: transparent;
}

#hamburger-menu-button.active span:before,
#hamburger-menu-button.active span:after {
  top: 0;
}

#hamburger-menu-button.active span:before {
  transform: rotate(45deg);
}

#hamburger-menu-button.active span:after {
  transform: rotate(-45deg);
}

