/* ==|====================
   Module/Organization
   ======================= */

@import "../base/base";

.organization {
 .l-pull-right,
 .l-pull-left,
 .l-full-width {
   padding: 0 0 $gutter;
 }

 .l-full-width {
    margin-bottom: 0;
  }
}

.organization-meta-top {
  border-top: solid 10px $black;
}


.organization-date-founded,
.organization-amount-of-members,
.organization-city {
  flex: 1;
  padding: $gutter $gutter 0;
}

.meta-label {
  display: block;
  margin-bottom: 10px;

  font-family: $open-sans;
  font-size: 14px;
  text-transform: lowercase;
  text-align: center;
}

.meta-item {
  font-size: 24px;
  text-align: center;
}

.organization-meta-bottom {
  margin: $gutter 0;
  border-top: solid 10px $black;
  border-bottom: solid 10px $black;
  padding: $gutter $gutter 0;

  font-family: $open-sans;
  font-size: 18px;
}

.organization-name {
  margin-bottom: $gutter / 2;

  font-weight: bold;
}

.organization-location {
  margin-bottom: $gutter / 2;
}

.organization-address {

}

.organization-postal-code {

}

.organization-city {

}

.organization-country {

}

.organization-email {

}

.organization-website {

}

.organization-social-media {

}

.organization-facebook {

}

.organization-twitter {

}

.organization-leaflet-map {
  //height: 360px;
  //width: 100%;
}

