/* ==|====================
   Module/Organization
   ======================= */

@import "../base/base";

.organization-meta {
  border-top: solid 8px $black;
  margin-bottom: 0;
  padding: 0 0 $gutter;

  .meta-label {
    display: block;
    margin-bottom: 10px;

    font-family: $open-sans;
    font-size: 14px;
    text-transform: lowercase;
    text-align: center;
  }

  .meta-item {
    font-size: 24px;
    text-align: center;
  }
}

.organization-date-founded,
.organization-amount-of-members,
.organization-city {
  flex: 1;
  padding: $gutter $gutter 0;

  @media(max-width: $mobile) {
    border-bottom: solid 1px $light-grayish;
    padding: $gutter / 2 $gutter;
  }
}


.organization-description {
   padding: 0 0 $gutter;
}

.organization-contact-info {
  margin: 0 0 $gutter 0;
  border-top: solid 8px $black;
  border-bottom: solid 8px $black;
  padding: $gutter;

  font-family: $open-sans;
  font-size: 18px;

  @media(max-width: $tablet) {
    padding: $gutter 0;
  }
}

.organization-name {
  margin-bottom: $gutter / 2;

  font-weight: bold;
}

.organization-location {
  margin-bottom: $gutter / 2;
}

.organization-address {

}

.organization-postal-code {

}

.organization-city {

}

.organization-country {

}

.organization-email {
  word-wrap: break-word;
}

.organization-website {
  word-wrap: break-word;
}

.organization-social-media {

}

.organization-facebook {

}

.organization-twitter {

}

.organization-location-map {
  margin-bottom: $gutter;
  height: 360px;
  width: 100%;
}

