/* ==|====================
   Modules/Quote
   ======================= */

@import "../base/base";
@import "../base/sprite-mixins";

.quote {
  padding: $gutter $gutter * 2;

  background-color: $green;
  color: $white;
  text-align: center;

  a {
    color: $white;
    text-decoration: none;
  }

  @media(max-width: $mobile) {
    padding: $gutter;
  }

  .quote-text {
    margin-bottom: $gutter / 2;
    font-size: 32px;
    font-weight: normal;
  }

  .quote-author {
    font-size: 14px;
    font-family: $open-sans;
    font-style: normal;

    a {
      color: $white;
      text-decoration: none;

      &:after {
        @include sprite(chevron-white-icon);
        content: '';
        display: block;
        margin-left: 5px;
        width: 15px;

        transition: all .1s ease-in;
      }

      &:hover,
      &:active {
        &:after {
          margin-left: 8px;
          width: 12px;
        }
      }
    }
  }
}

