/* ==|====================
   Modules/Static content
   ======================= */

@import "../base/base";
@import "../base/sprite-mixins";


// Home

.home-quote {
  margin: 0 80px $gutter;
  padding: $gutter $gutter * 2;

  background-color: $green;
  color: $white;
  text-align: center;

  @media(max-width: $tablet) {
    margin-left: $gutter;
    margin-right: $gutter;
    padding: $gutter;
  }

  a {
    color: $white;
    text-decoration: none;

    &:hover,
    &:active {
      .quote-author:after {
        margin-left: 8px;
        width: 12px;
      }
    }
  }

  .quote-text {
    font-size: 32px;

    @media(max-width: $tablet) {
      margin: 5px;
      font-size: 6vw;
    }
  }

  .quote-author {
    margin-top: $gutter / 2;

    font-size: 14px;
    font-family: $open-sans;
    font-style: normal;

    &:after {
      @include sprite(chevron-white-icon);
      content: '';
      margin-left: 5px;
      width: 15px;

      transition: all .1s ease-in;
    }
  }
}

.home-get-updated-link {
  display: flex;
  flex-flow: row nowrap;
  align-content: center;
  width: 470px;
  margin: 0 auto;

  font-size: 24px;
  font-style: normal;
  color: $blue;
  text-decoration: none;

  @media(max-width: $tablet-horizontal) {
    width: inherit;
  }

  &:after {
    @include sprite(chevron-blue-icon);
    align-self: center;
    content: '';
    display: block;
    margin-left: 15px;
    padding-bottom: 4px;
    width: 33px;

    transition: all .1s ease-in;

    vertical-align: super;
  }

  &:hover,
  &:active {
    &:after {
      margin-left: 18px;
      width: 30px;
    }
  }

  .icon-wrapper {
    flex: 0 0 78px;
    align-self: center;
    box-sizing: border-box;
    margin-right: $gutter;
    border-radius: 39px;
    padding-top: 18px;
    padding-left: 4px;
    width: 78px;
    height: 78px;

    background-color: $blue;

    @media(max-width: $tablet) {
      flex: 0 0 48px;
      padding-top: 11px;
      padding-left: 4px;
      width: 48px;
      height: 48px;
      border-radius: 24px;
      text-align: center;

      svg {
        width: 22px;
        height: 22px;
      }
    }
  }

  .home-get-updated-text {
    align-self: center;

    @media(max-width: $tablet-horizontal) {
      font-size: 3vw;
    }
  }
}
