/* ==|====================
   Module/Vertical Date
   ======================= */

.vertical-date-element {
  width: 100%;
  text-align: center;
  font-family: $open-sans;
  font-weight: bold;
  color: $blue;

  @media(max-width: $tablet) {
    width: auto;
    font-size: 20px;
  }
}

.vertical-date-day {
  @extend .vertical-date-element;
  padding-bottom: 10px;
  font-weight: normal;

  @media(max-width: $tablet) {
    flex: inherit;
  }
}

.vertical-date-day-of-month {
  @extend .vertical-date-element;
  padding-top: 15px;
  flex: 2;

  @media(max-width: $tablet) {
    flex: inherit;
    padding: 0 8px;
  }

  @media(max-width: $mobile) {
    padding: 0 3px;
  }
}

.vertical-date-month {
  @extend .vertical-date-element;
  flex: 2;

  @media(max-width: $tablet) {
    flex: inherit;
    padding: 0 8px;
  }

  @media(max-width: $mobile) {
    padding: 0 3px;
  }
}

.vertical-date-year {
  @extend .vertical-date-element;
  flex: 1;

  @media(max-width: $tablet) {
    flex: inherit;
    padding: 0 8px;
  }

  @media(max-width: $mobile) {
    padding: 0 3px;
  }
}

.vertical-date-time {
  @extend .vertical-date-element;
  padding-top: 10px;
  font-size: 14px;
  font-weight: normal;

  @media(max-width: $tablet) {
    display: none;
  }
}

.vertical-date-large {
  font-size: 32px;

  .vertical-date-day {
    font-size: 14px;
    line-height: 37px;
    text-transform: uppercase;

    @media(max-width: $tablet) {
      border-bottom: 0;
      padding-bottom: 0;
      padding-right: 5px;

      font-size: 18px;
      line-height: 29px;
    }
  }

  @media(max-width: $tablet) {
    font-size: 20px;
    line-height: 30px;
  }
}

.vertical-date-small {

  .vertical-date-day {
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
  }

  .vertical-date-day-of-month {
    padding: 6px 0;
    font-size: 20px;
  }

  .vertical-date-month {
    padding: 6px 0;
    font-size: 20px;
  }

  .vertical-date-year {
    padding: 6px 0 0;
    font-size: 20px;
  }
}

.vertical-date-smaller {
  .vertical-date-day {
    display: none;
  }

  .vertical-date-day-of-month,
  .vertical-date-month,
  .vertical-date-year {
    padding: 0 0 4px 0;
  }

   .vertical-date-year {
    padding-bottom: 0;
  }
}

