{% load static wagtailcore_tags wagtailimages_tags ub_core_tags i18n %}

<li class="featured-article">
    <a href="{{ featured_article.url }}" class="featured-article-link start-animation-on-hover {{ article_class }} ">
        <div class="l-featured-article-top-left">
            {% if featured_article.format %}
                <div class="icon-wrapper">
                    <svg width="22px" height="22px" class="article-format-icon {{ featured_article.format }}-icon white-icon" >
                      <use xlink:href="#{{ featured_article.format }}-icon" />
                    </svg>
                </div>
            {% endif %}
        </div>
        <div class="l-featured-article-top-right">

        </div>
        <div class="l-featured-article-preview-title-wrapper">
            <h4 class="featured-article-preview-title">
                {{ featured_article.title }}
            </h4>
        </div>
        {% if featured_article.featured_image %}
            {% include "blocks/responsive_image.html" with image=featured_article.featured_image.value.image image_class="featured-article-image"  %}
        {% endif %}
    </a>
</li>
