{% load static wagtailcore_tags wagtailimages_tags ub_core_tags i18n %}
<a href="{{ self.url }}" class="l-pull-left article-inline article-inline-theoryarticle is-visuallyhidden" id="theoryarticle-{{ self.id }}">
    <span class="icon-wrapper">
        <svg width="22px" height="22px" class="article-format-icon {{ self.format }}-icon white-icon" >
          <use xlink:href="#{{ self.format }}-icon" />
        </svg>
    </span>
    <span class="article-inline-theoryarticle-info">
        <span class="article-inline-theoryarticle-title">
            {{ self.title }}
            {% if self.subtitle %}
                - {{ self.subtitle }}
            {% endif %}
        </span>
        {% if self.author %}
            <span class="article-inline-theoryarticle-author">
                {{ self.author }}
            </span>
        {% endif %}
    </span>
</a>
