
<section class="latest-articles article-index-page-list" id="activities">
    <h2 class="hidden-title">Latest Articles</h2>
    <ul class="l-grid grid-packery">
        <li class="l-grid-gutter-sizer"></li>
        {% for article in news_articles %}
            {% if article %}
                {% include "articles/blocks/latest_news_article.html" with page=article %}
            {% endif %}
            {% empty %}
                <li>Sorry, no articles found.</li>
        {% endfor %}
    </ul>
</section>
