{% extends "articles/blocks/latest_article.html" %}
{% load static wagtailcore_tags wagtailimages_tags ub_wagtailcore_tags  i18n %}

{% block list_item_classes %}{{ list_item_classes }} latest-theory-article{% endblock %}

{% block below_title %}Hello
    {% if page.author %}
        <div class="latest-article-author">
            {{ page.author }}
        </div>
    {% endif %}
    <div class="latest-article-introduction">
        {% if page.introduction %}
            {{ page.introduction.value|truncatewords:30 }}
        {% endif %}
        {% if page.introduction %}
            <div class="article-introduction" id="introduction">
                {{ page.introduction|truncatewords:30 }}
            </div>
        {% endif %}
    </div>
{% endblock %}
