{% extends "articles/blocks/latest_article.html" %}
{% load static wagtailcore_tags wagtailimages_tags ub_wagtailcore_tags ub_core_tags i18n %}

{% block list_item_classes %} latest-theory-article{% endblock %}

{% block below_title %}
    {% if page.author %}
        <div class="latest-article-author">
            {{ page.author }}
        </div>
    {% endif %}
    <div class="latest-article-introduction">
        {% for block in page.body %}
            {% if block.block_type == 'introduction' and forloop.first %}
                {{ block.value.source|ub_richtext|truncatewords:30 }}
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}

{%  block tableofcontents %}
    <section class="article-table-of-contents">
        <a href="" class="toggle-toc-link">
            <svg width="25.178px" height="20.185px"  class="toc-icon" >
                <title>Table of Contents icon</title>
                <desc>Click to open Table of Contents</desc>
                <use xlink:href="#toc-icon" />
            </svg>
        </a>
        <ul class="toc-list is-visuallyhidden">
            {% for block in page.body %}

                {% if block.block_type == 'chapter' %}
                    <li class="toc-list-item toc-{{ block.block_type }}">
                        <a class="toc-link" href="#{{ block.value.chapter_name|slugify }}">
                            {{ block.value.chapter_name }}
                        </a>
                    </li>
                {% elif block.block_type == 'section' %}
                    <li class="toc-list-item toc-{{ block.block_type }}">
                        <a class="toc-link" href="#{{ block.value.section_name|slugify }}">
                            {{ block.value.section_name }}
                        </a>
                    </li>
                {% elif block.block_type == 'subsection' %}
                    <li class="toc-list-item toc-{{ block.block_type }}">
                        <a class="toc-link" href="#{{ block.value.subsection_name|slugify }}">
                            {{ block.value.subsection_name }}
                        </a>
                    </li>
                {% endif %}

            {% endfor %}
        </ul>
    </section>
{% endblock %}
