{% load static article_tags i18n %}

<section class="latest-articles article-index-page-list" id="theory" >
    <h2 class="hidden-title">Latest Articles</h2>
    <ul class="l-grid grid-packery">
        <li class="l-grid-gutter-sizer"></li>
        {% for article in theory_articles %}
            {% if forloop.counter == 3 %}
                {{ latest_quote }}
            {% endif %}
            {% if article %}
                {% include "articles/blocks/latest_theory_article.html" with page=article list_item_classes='l-grid-item-one-third' %}
            {% endif %}
            {% empty %}
                <li>Sorry, no articles found.</li>
        {% endfor %}
    </ul>
</section>
