{% load static wagtailcore_tags wagtailimages_tags ub_core_tags i18n %}

<li class="l-grid-item latest-article{{ article_classes }} {% block list_item_classes %}{% endblock %} {{ page.format }}">

    {% block above_latest_article %}{% endblock %}
    <a href="{{ page.url }}" class="latest-article-link start-animation-on-hover">
        <div class="icon-wrapper">
            <svg width="22px" height="22px" class="article-format-icon {{ page.format }}-icon white-icon" >
              <use xlink:href="#{{ page.format }}-icon" />
            </svg>
        </div>
        <div class="latest-article-info" >
            {% block above_title %}{% endblock %}
            <h4 class="latest-article-title">
                {{ page.title }}
                {% if page.subtitle %}
                    - {{ page.subtitle }}
                {% endif %}
            </h4>
            {% block below_title %}{% endblock %}
        </div>
        {% block featured_image %}
            {% include "blocks/responsive_image.html" with image=page.featured_image.value.image image_class="latest-article-image"  %}
        {% endblock %}
    </a>
    {% block below_latest_article %}{% endblock %}
</li>
