{% extends "articles/blocks/latest_article.html" %}
{% load static wagtailcore_tags wagtailimages_tags ub_wagtailcore_tags  i18n %}

{% block list_item_classes %}{{ list_item_classes }} latest-theory-article{% endblock %}

{% block below_title %}
    {% if page.author %}
        <div class="latest-article-author">
            {{ page.author }}
        </div>
    {% endif %}
    <div class="latest-article-introduction">
        {% for block in page.body %}
            {% if block.block_type == 'introduction' and forloop.first %}
                {{ block.value|truncatewords:30 }}
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
