{% extends "articles/blocks/latest_article.html" %}
{% load static wagtailcore_tags wagtailimages_tags ub_core_tags i18n %}

{% block list_item_classes %}{{ list_item_classes }} latest-story-article{% endblock %}

{% block below_title %}
    <div class="latest-article-author">
        {% if page.author %}
            {{ page.author }}
        {% endif %}
    </div>
{% endblock %}

{% block featured_image %}
    {% include "blocks/responsive_image_w428.html" with image=page.featured_image image_class="latest-article-image"  %}
{% endblock %}
