{% load static wagtailcore_tags wagtailimages_tags ub_core_tags i18n %}

<li class="l-grid-item latest-article {{ article_classes }} {% block list_item_classes %}{% endblock %}">
    <a href="{{ page.url }}" class="latest-article-link">
        <div class="latest-article-icon-wrapper"></div>
        <div class="latest-article-info" >
            {% block above_title %}{% endblock %}
            <h4 class="latest-article-title">
                {{ page.title }}
            </h4>
            {% block below_title %}{% endblock %}
        </div>
        {% if page.featured_image %}
            {% include "blocks/responsive_image.html" with image=page.featured_image image_class="latest-article-image"  %}
        {% endif %}
    </a>
</li>
