{% extends "article_index_base.html" %}
{% load static wagtailcore_tags wagtailimages_tags i18n article_tags %}

{% block extra_js %}
{% endblock %}

{% block body_class %}how-to {{ block.super }}{% endblock %}

{% block above_header %}
    {% include "events/blocks/upcoming_related_events.html" %}
{% endblock %}

{% block header %}

    <header class="l-article-header article-header how-to-title">
        <h1 class="article-header-title">
            {% if self.seo_title %}
                {{ self.seo_title }}
            {% else %}
                {{ self.title }}
            {% endif %}
        </h1>

        <div class="how-to-circles-containter">

            <ul class='how-to-satellites'>

                {% for page_format in page_formats %}
                    {% if page_format.page_count > 0 %}
                        <li class="{{ page_format.page_type }} is-hidden">
                            <a href="#" class="how-to-satellite animated bounceIn">
                                <svg width="30px" height="30px" class="white-icon article-format" >
                                  <use xlink:href="#{{ page_format.page_format }}-icon" />
                                </svg>
                            </a>
                            <div class="article-count">{{ page_format.page_count }}</div>
                        </li>
                    {% endif %}
                {% endfor %}

            </ul>

            <svg class="how-to-planet animated slideInDown {{ self.circles }}" x="0px" y="0px" width="420px" height="420px" viewBox="0 0 420 420" style="enable-background:new 0 0 420 420;" xml:space="preserve">
                <circle class="circle theory animated fadeIn" style="stroke:#d6dff1;stroke-width:9;stroke-miterlimit:10;" cx="210.232" cy="210.404" r="203.168"/>
                <circle class="circle stories animated fadeIn" style="stroke:#d6dff1;stroke-width:9;stroke-miterlimit:10;" cx="210.233" cy="210.404" r="151.724"/>
                <circle class="circle practitioners animated fadeIn" style="stroke:#d6dff1;stroke-width:9;stroke-miterlimit:10;" cx="210.233" cy="210.404" r="95.949"/>
                <circle class="circle activities animated fadeIn" style="stroke:#d6dff1;stroke-width:9;stroke-miterlimit:10;" cx="210.232" cy="210.404" r="41.641"/>
            </svg>

        </div>

        <div class="how-to-description">
            {{ self.description|richtext }}
        </div>
    </header>

{% endblock %}


{% block article_body %}

{% if theory_articles %}
    <hr>
    {% include 'articles/blocks/latest_theory_articles.html' %}
{% endif %}

{% if story_articles %}
    <hr>
    {% include 'articles/blocks/latest_story_articles.html' %}
{% endif %}

{% if news_articles %}
    <hr>
    {% include 'articles/blocks/latest_news_articles.html' %}
{% endif %}

{% if organizations %}
    <hr>
    {% include 'organizations/blocks/latest_organizations.html' %}
{% endif %}

{% endblock %}
