{% extends "article_index_base.html" %}
{% load static wagtailcore_tags wagtailimages_tags url_tags ub_core_tags i18n article_tags %}

{% block extra_js %}
{% endblock %}

{% block body_class %}how-to{% endblock %}

{% block header %}

    <header class="l-article-header article-header how-to-title">
        <h1 class="article-header-title">
            {% if self.seo_title %}
                {{ self.seo_title }}
            {% else %}
                {{ self.title }}
            {% endif %}
        </h1>

        <div class="how-to-circles-containter">

            <ul class='how-to-satellites'>
                <li class="blue is-hidden">
                    <a href="#" class="how-to-satellite animated bounceIn">
                        <svg width="30px" height="30px" class="white-icon article-format" >
                          <use xlink:href="#video-icon" />
                        </svg>
                    </a>
                    <div class="article-count">1</div>
                </li>
                <li class="yellow is-hidden">
                    <a href="#" class="how-to-satellite animated bounceIn">
                        <svg width="30px" height="30px" class="white-icon article-format" >
                          <use xlink:href="#images-icon" />
                        </svg>
                    </a>
                    <div class="article-count">2</div>
                </li>
                <li class="green is-hidden">
                    <a href="#" class="how-to-satellite animated bounceIn css-icon">
                        <svg width="30px" height="30px" class="white-icon article-format" >
                          <use xlink:href="#theory-icon" />
                        </svg>
                    </a>
                    <div class="article-count">1</div>
                </li>
                <li class="yellow is-hidden">
                    <a href="#" class="how-to-satellite animated bounceIn css-icon">
                        <svg width="30px" height="30px" class="white-icon article-format" >
                          <use xlink:href="#text-icon" />
                        </svg>
                    </a>
                    <div class="article-count">3</div>
                </li>

                <li class="green is-hidden">
                    <a href="#" class="how-to-satellite animated bounceIn css-icon">
                        <svg width="30px" height="30px" class="white-icon article-format" >
                          <use xlink:href="#theory-icon" />
                        </svg>
                    </a>
                    <div class="article-count">1</div>
                </li>
                <li class="black is-hidden">
                    <a href="#" class="how-to-satellite animated bounceIn">
                        <svg width="30px" height="30px" class="white-icon article-format" >
                          <use xlink:href="#organization-icon" />
                        </svg>
                    </a>
                    <div class="article-count">10</div>
                </li>
                <li class="blue is-hidden">
                    <a href="#" class="how-to-satellite animated bounceIn">
                        <svg width="30px" height="30px" class="white-icon article-format" >
                          <use xlink:href="#event-icon" />
                        </svg>
                    </a>
                    <div class="article-count">25</div>
                </li>
                <li class="green is-hidden">
                    <a href="#" class="how-to-satellite animated bounceIn">
                        <svg width="30px" height="30px" class="white-icon article-format" >
                          <use xlink:href="#link-icon" />
                        </svg>
                    </a>
                    <div class="article-count">2</div>
                </li>
            </ul>

            <svg class="how-to-planet animated slideInUp" x="0px" y="0px" width="420px" height="420px" viewBox="0 0 420 420" style="enable-background:new 0 0 420 420;" xml:space="preserve">
                <circle class="circle green animated fadeIn" style="stroke-width:9;stroke-miterlimit:10;" cx="210.232" cy="210.404" r="203.168"/>
                <circle class="circle yellow animated fadeIn" style="stroke-width:9;stroke-miterlimit:10;" cx="210.233" cy="210.404" r="151.724"/>
                <circle class="circle black animated fadeIn" style="stroke-width:9;stroke-miterlimit:10;" cx="210.233" cy="210.404" r="95.949"/>
                <circle class="circle blue animated fadeIn" style="stroke-width:9;stroke-miterlimit:10;" cx="210.232" cy="210.404" r="41.641"/>
            </svg>

        </div>

        <div class="how-to-description">
            {{ self.description|richtext }}
        </div>
    </header>

{% endblock %}


{% block article_body %}

    {% include 'articles/blocks/latest_theory_articles.html' %}
    <hr>
    {% include 'articles/blocks/latest_story_articles.html' %}
    <hr>
    {% include 'articles/blocks/latest_news_articles.html' %}
    <hr>
    {% include 'organizations/blocks/latest_organizations.html' %}

{% endblock %}
