{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags url_tags ub_core_tags i18n %}

{% block extra_js %}
{% endblock %}

{% block body_class %}how-tos{% endblock %}

{% block content %}

    <header class="content-header">
        <h1 class="content-header-title">{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}</h1>
        <p class="content-header-text">
            Hier komt een introducerende tekst op onze “thema-pagina’s”.
            Iets over dat wij onderwerpen selecteren en redactie voeren over de bestaande content,
            om zo beter te kunnen informeren en verkennen. Dat dit ook een manier is om het
            onderzoek en wat er werkelijk speelt –daarmee onze praktijk ofzo– op elkaar aan te sluiten.
        </p>
    </header>

    <section class="l-blocks">
        <ul class="l-columns">
            {% for how_to in how_tos %}
                {% include "howtos/blocks/latest_howto.html" %}
                {% include "howtos/blocks/latest_howto.html" %}
                {% include "howtos/blocks/latest_howto.html" %}
            {% endfor %}
        </ul>
    </section>

{% endblock %}
