{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags url_tags ub_core_tags i18n %}

{% block extra_js %}
{% endblock %}

{% block body_class %}how-tos{% endblock %}

{% block content %}

    <header class="content-header">
        <h1 class="content-header-title">{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}</h1>
        <p class="content-header-text">
            Hier komt een introducerende tekst op onze “thema-pagina’s”.
            Iets over dat wij onderwerpen selecteren en redactie voeren over de bestaande content,
            om zo beter te kunnen informeren en verkennen. Dat dit ook een manier is om het
            onderzoek en wat er werkelijk speelt –daarmee onze praktijk ofzo– op elkaar aan te sluiten.
        </p>
    </header>

    <section class="l-blocks">
        <ul class="l-columns">
            {% for how_to in how_tos %}
                <li class="howto-block {{ how_to.content_type.model }}">
                    <a href="{% pageurl how_to %}" class="howto-block-link"  >
                        <h2 class="howto-block-title">{{ how_to.title }}</h2>
                    </a>
                    <div class="howto-block-circles green black blue">
                        <img src="{% static 'images/how-to-circles-empty.svg' %}" class="how-to-circles-empty" width="192.921px" height="192.921px" />
                        <img src="{% static 'images/how-to-circles-green.svg' %}" class="how-to-circles-green" width="192.921px" height="192.921px" />
                        <img src="{% static 'images/how-to-circles-yellow.svg' %}" class="how-to-circles-yellow" width="192.921px" height="192.921px" />
                        <img src="{% static 'images/how-to-circles-black.svg' %}" class="how-to-circles-black" width="192.921px" height="192.921px" />
                        <img src="{% static 'images/how-to-circles-blue.svg' %}" class="how-to-circles-blue" width="192.921px" height="192.921px" />
                    </div>
                    <p class="howto-block-description">
                        Een korte tekst of indleiding, of gewoon het begin van de volledige tekst die dit thema,
                        deze cirkelgroep, uitlegd. En inleid waar deze over gaat. Hoeft niet veel tekst te zijn.
                    </p>
                    <hr>
                    <div class="howto-block-meta">
                        <ul>
                            <li class="howto-block-meta-list-item event-count">
                                <div class="number">4</div>
                                <span class="article-type">evenementen</span>
                            </li>
                            <li class="howto-block-meta-list-item story-count">
                                <div class="number empty">-</div>
                                <span class="article-type">verhalen</span>
                            </li>
                            <li class="howto-block-meta-list-item organization-count">
                                <div class="number">1</div>
                                <span class="article-type">groepen</span>
                            </li>
                            <li class="howto-block-meta-list-item theory-count">
                                <div class="number">10</div>
                                <span class="article-type">artikelen</span>
                            </li>
                        </ul>
                    </div>
                    <hr>
                    <div class="howto-grid-item-events">

                    </div>
                </li>
            {% endfor %}{% for how_to in how_tos %}
                <li class="howto-block l-grid-item {{ how_to.content_type.model }}">
                    <a href="{% pageurl how_to %}" class="howto-block-link"  >
                        <h2 class="howto-block-title">{{ how_to.title }}</h2>
                    </a>
                    <div class="howto-block-circles yellow green black blue">
                        <img src="{% static 'images/how-to-circles-empty.svg' %}" class="how-to-circles-empty" width="192.921px" height="192.921px" />
                        <img src="{% static 'images/how-to-circles-green.svg' %}" class="how-to-circles-green" width="192.921px" height="192.921px" />
                        <img src="{% static 'images/how-to-circles-yellow.svg' %}" class="how-to-circles-yellow" width="192.921px" height="192.921px" />
                        <img src="{% static 'images/how-to-circles-black.svg' %}" class="how-to-circles-black" width="192.921px" height="192.921px" />
                        <img src="{% static 'images/how-to-circles-blue.svg' %}" class="how-to-circles-blue" width="192.921px" height="192.921px" />
                    </div>
                    <p class="howto-block-description">
                        Een korte tekst of indleiding, of gewoon het begin van de volledige tekst die dit thema,
                        deze cirkelgroep, uitlegd. En inleid waar deze over gaat. Hoeft niet veel tekst te zijn.
                    </p>
                    <hr>
                    <div class="howto-block-meta">
                        <ul>
                            <li class="howto-block-meta-list-item event-count">
                                <div class="number">4</div>
                                <span class="article-type">evenementen</span>
                            </li>
                            <li class="howto-block-meta-list-item story-count">
                                <div class="number">15</div>
                                <span class="article-type">verhalen</span>
                            </li>
                            <li class="howto-block-meta-list-item organization-count">
                                <div class="number">1</div>
                                <span class="article-type">groepen</span>
                            </li>
                            <li class="howto-block-meta-list-item theory-count">
                                <div class="number">10</div>
                                <span class="article-type">artikelen</span>
                            </li>
                        </ul>
                    </div>
                    <hr>
                    <div class="howto-grid-item-events">
                        <ul class="featured-agenda-items">
                            {% for event in upcoming_events %}
                                {% include "events/blocks/agenda_item.html" with vertical_date_class="vertical-date-smaller" %}
                            {% endfor %}
                        </ul>
                    </div>
                </li>
            {% endfor %}
        {% for how_to in how_tos %}
                <li class="howto-block {{ how_to.content_type.model }}">
                <a href="{% pageurl how_to %}" class="howto-block-link"  >
                    <h2 class="howto-block-title">{{ how_to.title }}</h2>
                </a>
                <div class="howto-block-circles green yellow">
                    <img src="{% static 'images/how-to-circles-empty.svg' %}" class="how-to-circles-empty" width="192.921px" height="192.921px" />
                    <img src="{% static 'images/how-to-circles-green.svg' %}" class="how-to-circles-green" width="192.921px" height="192.921px" />
                    <img src="{% static 'images/how-to-circles-yellow.svg' %}" class="how-to-circles-yellow" width="192.921px" height="192.921px" />
                    <img src="{% static 'images/how-to-circles-black.svg' %}" class="how-to-circles-black" width="192.921px" height="192.921px" />
                    <img src="{% static 'images/how-to-circles-blue.svg' %}" class="how-to-circles-blue" width="192.921px" height="192.921px" />
                </div>
                <p class="howto-block-description">
                    Een korte tekst of indleiding, of gewoon het begin van de volledige tekst die dit thema,
                    deze cirkelgroep, uitlegd. En inleid waar deze over gaat. Hoeft niet veel tekst te zijn.
                </p>
                <hr>
                <div class="howto-block-meta">
                    <ul>
                        <li class="howto-block-meta-list-item event-count">
                            <div class="number">4</div>
                            <span class="article-type">evenementen</span>
                        </li>
                        <li class="howto-block-meta-list-item story-count">
                            <div class="number">1</div>
                            <span class="article-type">verhalen</span>
                        </li>
                        <li class="howto-block-meta-list-item organization-count">
                            <div class="number empty">-</div>
                            <span class="article-type">groepen</span>
                        </li>
                        <li class="howto-block-meta-list-item theory-count">
                            <div class="number empty">-</div>
                            <span class="article-type">artikelen</span>
                        </li>
                    </ul>
                </div>
                <hr>
                <div class="howto-grid-item-events">
                </div>
                </li>
            {% endfor %}
        </ul>
    </section>

{% endblock %}
