{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags ub_core_tags article_tags i18n %}

{% block extra_js %}
{% endblock %}

{% block extra_vendor_css %}
    <link rel="stylesheet" href="{% static 'bower_components/unslider/dist/css/unslider.css' %}">
    <link rel="stylesheet" href="{% static 'bower_components/unslider/dist/css/unslider-dots.css' %}">
{% endblock %}

{% block body_class %}home l-article-content{% endblock %}

{% block content %}

    <section class="content">

        <h1 class="hidden-title">(Un)usual Business</h1>
        <!--<h1>{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}</h1>-->

        {% include 'articles/blocks/featured_articles.html' %}

        {% include 'pages/blocks/static_contents.html'  %}

        {% include 'events/blocks/upcoming_events.html'  %}

        <section class="l-home latest-articles" id="latest-articles">
            <h2 class="hidden-title">Latest Articles</h2>
            <ul class="l-grid grid-packery">
                <li class="l-grid-sizer"></li>
                <li class="l-grid-gutter-sizer"></li>

                {% for article in articles %}
                    {%  if article.content_type.model == 'organizationpage' %}
                        {% include "organizations/blocks/latest_organization.html" with page=article list_item_classes='l-grid-item l-grid-item-fixed-height' %}
                    {%  elif article.content_type.model == 'newsarticlepage' %}
                        {% include "articles/blocks/latest_news_article.html" with page=article %}
                    {% elif article.content_type.model == 'storyarticlepage' %}
                            {% include "articles/blocks/latest_story_article.html" with page=article list_item_classes='l-grid-item-double-width'  %}
                    {% elif article.content_type.model == 'theoryarticlepage' %}
                        {% include "articles/blocks/latest_theory_article.html" with page=article %}
                    {% endif %}
                    {% empty %}
                        <li>Sorry, no pages found.</li>
                {% endfor %}

            </ul>
        </section>
    </section>

{% endblock %}
