{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags ub_core_tags i18n %}

{% block extra_js %}
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'bower_components/unslider/dist/css/unslider.css' %}">
    <link rel="stylesheet" href="{% static 'bower_components/unslider/dist/css/unslider-dots.css' %}">
{% endblock %}

{% block body_class %}home{% endblock %}


{% block content %}

    <section class="content">

        <h1 class="hidden-title">(Un)usual Business</h1>
        <!--<h1>{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}</h1>-->

        <section class="l-feature">

            <section class="l-featured-articles featured-articles unslider" >
                <h3 class="section-title">Uitgelicht</h3>
                <ul class="featured-articles-list">
                    {% for page in pages %}
                        {% if page.content_type.model == 'eventpage' %}
                            {% include "events/blocks/featured_event.html" %}
                        {%  elif page.content_type.model == 'howtopage' %}
                            {% include "howtos/blocks/featured_howto.html" %}
                        {%  elif page.content_type.model == 'definitionpage' %}
                            {% include "definitions/blocks/featured_definition.html" %}
                        {%  elif page.content_type.model == 'organizationpage' %}
                            {% include "organizations/blocks/featured_organization.html" %}
                        {%  elif page.content_type.model == 'reportarticlepage' %}
                            {% include "articles/blocks/featured_article.html" with article_class="blue" %}
                        {%  elif page.content_type.model == 'storyarticlepage' %}
                            {% include "articles/blocks/featured_article.html" with article_class="yellow" %}
                        {%  elif page.content_type.model == 'theoryarticlepage' %}
                            {% include "articles/blocks/featured_article.html" with article_class="green" %}
                        {% else %}
                            {% include "articles/blocks/featured_article.html" with article_class="blue" %}
                        {% endif %}
                    {% endfor %}
                </ul>
            </section>

            <section class="l-featured-agenda featured-agenda">
                <h3 class="section-title featured-agenda-title">Agenda</h3>
                <ul class="featured-agenda-items">
                    {% for event in upcoming_events %}
                        {% include "events/blocks/agenda_item.html" with vertical_date_class="vertical-date-small" %}
                    {% endfor %}
                </ul>
                <footer class="featured-agenda-footer">
                    <a href="#" >Alle evenementen >></a>
                </footer>
            </section>

        </section>

        <section class="l-featured-snippets">

            <section class="featured-journal">
                <h3 class="section-title is-hidden">Featured Call-out</h3>
                <a href="#" class="featured-journal-link">
                    <img src="/media/images/journal-1.max-800x600.jpg" class="featured-journal-image" />
                    <div class="featured-journal-overlay is-hidden">
                        <header class="featured-journal-header">Lees hier onze journal #1</header>
                        <h4>
                            <strong>Utrecht<br>Meent<br>het</strong>
                        </h4>
                    </div>
                </a>
            </section>

            <section class="featured-welcome-message">
                <h2 class="featured-welcome-message-title">Welkom</h2>
                <p class="featured-welcome-message-body">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Suspendisse egestas tincidunt lectus sit amet hendrerit.
                    Etiam vestibulum turpis nec justo tempus, nec vulputate lacus pharetra.
                    Nulla nibh felis, cursus et aliquet quis, ultrices ut sem.
                    Cras consectetur, quam pharetra luctus gravida, sem magna pharetra nisl,
                    vel efficitur tortor eros quis sapien. Nam et tortor neque.
                </p>
            </section>

            <section class="featured-links">
                <h3 class="section-title is-hidden">Featured Links</h3>
                <ul class="featured-link-list">
                    <li class="featured-link ">
                        <a href="#" class="green">Waarom deze website?</a>
                    </li>
                    <li class="featured-link ">
                        <a href="#" class="yellow">Hoe werkt deze website?</a>
                    </li>
                    <li class="featured-link ">
                        <a href="#" class="black">Wie zijn wij?</a>
                    </li>
                    <li class="featured-link">
                        <a href="#" class="blue">Kan ik betrokken raken?</a>
                    </li>
                </ul>
            </section>

        </section>

        <hr>

        <section class="latest-articles">
            <h2 class="hidden-title">Pages</h2>
            <ul class="page-list">
{#                {% for the_page in pages %}#}
{#                    {%  if the_page.content_type.model == 'organizationpage' %}#}
{#                        {% include "organizations/blocks/list_item_organization.html" with page=the_page %}#}
    {#                    {%  elif page.content_type.model == 'reportarticlepage' %}#}
    {#                        {% include "articles/blocks/list_article.html" with article_class="blue" %}#}
    {#                    {%  elif page.content_type.model == 'storyarticlepage' %}#}
    {#                        {% include "articles/blocks/list_article.html" with article_class="yellow" %}#}
    {#                    {%  elif page.content_type.model == 'theoryarticlepage' %}#}
    {#                        {% include "articles/blocks/list_article.html" with article_class="green" %}#}
    {#                    {% else %}#}
    {#                        {% include "articles/blocks/list_article.html" with article_class="blue" %}#}
{#                    {% endif %}#}
{#                    {% empty %}#}
{#                        <li>Sorry, no pages found.</li>#}
{#                {% endfor %}#}

                <li class="grid-sizer"></li>

                <li class="page-list-item page-list-item-story-article">
                    <a href="#" class="page-list-item-story-article-link">
                        <h4 class="page-list-item-story-article-title">
                            We tried to live together with 10 people but we officially failed dramatically
                        </h4>
                    </a>
                </li>

                <li class="page-list-item page-list-item-report-article">
                    <a href="#" class="page-list-item-report-article-link">
                        <h4 class="page-list-item-report-article-title">
                            Mini Fest was a super succes!
                        </h4>
                    </a>
                </li>

                <li class="page-list-item page-list-item-theory-article">
                    <a href="#" class="page-list-item-theory-article-link">
                        <h4 class="page-list-item-theory-article-title">
                            Economic Meltdown, or what an Iceberg can tell us about the Economy –
                            with a very long title to give everything away
                        </h4>
                    </a>
                </li>

                <li class="page-list-item page-list-item-organization">
                    <a href="#" class="page-list-item-organization-link">
                        <h4 class="page-list-item-organization-title">
                            Voedselkollektief <br>Utrecht
                        </h4>
                    </a>
                </li>

                <li class="page-list-item page-list-item-organization">
                    <a href="#" class="page-list-item-organization-link">
                        <h4 class="page-list-item-organization-title">
                            (Un)usual Business
                        </h4>
                    </a>
                </li>

                <li class="page-list-item page-list-item-report-article">
                    <a href="#" class="page-list-item-report-article-link">
                        <h4 class="page-list-item-report-article-title">
                            Mini Fest was a super succes!
                        </h4>
                    </a>
                </li>


                <li class="page-list-item page-list-item-organization">
                    <a href="#" class="page-list-item-organization-link">
                        <h4 class="page-list-item-organization-title">
                            (Un)usual Business
                        </h4>
                    </a>
                </li>

                <li class="page-list-item page-list-item-organization">
                    <a href="#" class="page-list-item-organization-link">
                        <h4 class="page-list-item-organization-title">
                            Voedselkollektief Utrecht
                        </h4>
                    </a>
                </li>

                <li class="page-list-item page-list-item-theory-article">
                    <a href="#" class="page-list-item-theory-article-link">
                        <h4 class="page-list-item-theory-article-title">
                            Economic Meltdown, or what an Iceberg can tell us about the Economy –
                            with a very long title to give everything away
                        </h4>
                    </a>
                </li>

            </ul>

{#            <div class="stream">#}
{#                {% for block in page.stream %}#}
{#                    {% if block.block_type == 'heading' %}#}
{#                        <h1>{{ block.value }}</h1>#}
{#                    {% else %}#}
{#                        <section class="block-{{ block.block_type }}">#}
{#                            {{ block }}#}
{#                        </section>#}
{#                    {% endif %}#}
{#                {% endfor %}#}
{#            </div>#}
        </section>
    </section>

{% endblock %}
